---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/account-types?name=Visa
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":10,"count":1},"results":[{"code":"VISA","bpid":2,"name":"Visa","cybersourceCardType":"001","issueNumberOrStartDateRequired":false,"validationRegex":"^4[0-9]{12}(?:[0-9]{3})?$","images":{"small":{"width":37,"height":23,"url":"https:\/\/secure-beatport.bpddn.com\/images\/creditcard\/logo_cc_visa_37x23.gif"}}}]}'
  recorded_at: Wed, 10 Oct 2012 00:24:33 GMT
recorded_with: VCR 2.2.5
