---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"id=7181","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=7181&perPage=50"},{"value":100,"applyQuery":"id=7181&perPage=100"},{"value":150,"applyQuery":"id=7181&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":null},"results":[{"id":7181,"type":"artist","name":"Above
        & Beyond","slug":"above-and-beyond","active":true,"lastPublishDate":"2013-07-30","biography":"","genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":10,"name":"Chill
        Out","slug":"chill-out","type":"genre"},{"id":15,"name":"Progressive House","slug":"progressive-house","type":"genre"},{"id":9,"name":"Breaks","slug":"breaks","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"},{"id":17,"name":"Electro
        House","slug":"electro-house","type":"genre"},{"id":1,"name":"Drum & Bass","slug":"drum-and-bass","type":"genre"},{"id":39,"name":"Pop
        \/ Rock","slug":"pop-rock","type":"genre"},{"id":16,"name":"DJ Tools","slug":"dj-tools","type":"genre"},{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"},{"id":3,"name":"Electronica","slug":"electronica","type":"genre"},{"id":12,"name":"Deep
        House","slug":"deep-house","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":38,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":30,"name":"Epic","slug":"epic","type":"subgenre"},{"id":39,"name":"Downtempo","slug":"downtempo","type":"subgenre"},{"id":46,"name":"Acapellas","slug":"acapellas","type":"subgenre"},{"id":18,"name":"Disco","slug":"disco","type":"subgenre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491527.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491527.jpg"},"medium":{"width":88,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/491530.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491530.jpg"},"large":{"width":590,"height":404,"url":"http:\/\/geo-media.beatport.com\/image\/4686424.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/4686424.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/4686424.jpg"}},"profile":{"type":"djprofile","id":9112,"person":{"type":"person","id":40359},"url":"http:\/\/dj.beatport.com\/profile\/9112","images":[],"name":null,"genres":[],"bio":null,"joinedDate":null,"followerCount":null,"followingCount":null,"unpublishedChartCount":0,"soundcloudMode":null,"soundcloudId":null,"mixCount":false,"status":null,"indexed":null,"charts":[],"events":[],"mixes":[],"badges":[],"link":{"href":"http:\/\/dj.beatport.com\/aboveandbeyond","rel":"self"},"latestTracks":[]}}]}'
  recorded_at: Wed, 14 Aug 2013 22:51:21 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/artist?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/artist","query":"id=7181","page":1,"perPage":10,"count":80,"totalPages":8,"nextQuery":"id=7181&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7181&perPage=50"},{"value":100,"applyQuery":"id=7181&perPage=100"},{"value":150,"applyQuery":"id=7181&perPage=150"}],"facets":{"fields":[]},"spellcheck":null,"date":"2013-08-14"},"results":[{"id":4320789,"selected":false,"type":"track","sku":"track-4320789","name":"Walter
        White","trackNumber":1,"active":true,"mixName":"Original Mix","title":"Walter
        White (Original Mix)","slug":"walter-white-original-mix","isrc":"GBEWA1300230","releaseDate":"2013-04-29","publishDate":"2013-04-29","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/4320789.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume4\/items\/4000000\/300000\/20000\/0\/700\/80\/4320789.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4320789.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume4\/items\/4000000\/300000\/20000\/0\/700\/80\/4320789.LOFI","offset":{"start":171578,"end":291578}},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4320789.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/a\/8\/7\/4320789.LOFI","offset":{"start":171578,"end":291578}}},"price":{"code":"usd","symbol":"$","value":149,"display":"$1.49"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"purchasable":true,"currentStatus":"General
        Content","length":"7:08","lengthMs":428946,"bpm":128,"key":{"standard":{"letter":"A","sharp":true,"flat":false,"chord":"minor"},"shortName":"A&#9839;min"},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":175914,"position":8,"type":"chart"},{"id":175989,"position":1,"type":"chart"},{"id":175993,"position":9,"type":"chart"},{"id":175999,"position":4,"type":"chart"},{"id":176001,"position":5,"type":"chart"},{"id":176005,"position":2,"type":"chart"},{"id":176188,"position":5,"type":"chart"},{"id":158272,"position":8,"type":"chart"},{"id":176097,"position":9,"type":"chart"},{"id":176298,"position":1,"type":"chart"},{"id":176348,"position":4,"type":"chart"},{"id":176570,"position":8,"type":"chart"},{"id":177526,"positi[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?ids%5B0%5D=7181&ids%5B1%5D=7182
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"ids%5B0%5D=7181&ids[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?facets=artistName:Above%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"facets%5B0%5[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":false,"page":1,"perPage":10,"count":305442,"totalPa[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?page=1&perPage=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"perPage=5","page":1,"perPage":5,"c[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?genreId=5&page=1&perPage=5&sortBy=publishDate%20asc,artistId%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/ar[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?returnFacets=genreName,performerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":305442,"totalPages":30545,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":94445,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Progressive
        House","count":66551,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Tech
        House","count":62358,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Electro
        House","count":54391,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3[...]
