---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?facets=artistName%3AAboves%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"facets%5B0%5D=artistName%3AAboves+%26+Beyond","page":1,"perPage":10,"count":0,"totalPages":0,"perPageOptions":[{"value":50,"applyQuery":"facets%5B0%5D=artistName%3AAboves+%26+Beyond&perPage=50"},{"value":100,"applyQuery":"facets%5B0%5D=artistName%3AAboves+%26+Beyond&perPage=100"},{"value":150,"applyQuery":"facets%5B0%5D=artistName%3AAboves+%26+Beyond&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[]}'
  recorded_at: Sun, 11 Nov 2012 18:09:01 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/artist?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/artist","query":"id=7181","page":1,"perPage":10,"count":76,"totalPages":8,"nextQuery":"id=7181&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7181&perPage=50"},{"value":100,"applyQuery":"id=7181&perPage=100"},{"value":150,"applyQuery":"id=7181&perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2013-02-08"},"results":[{"id":3181101,"selected":false,"type":"track","sku":"track-3181101","name":"You
        Got To Go feat. Zoe Johnston","trackNumber":1,"active":true,"mixName":"Seven
        Lions Remix","title":"You Got To Go feat. Zoe Johnston (Seven Lions Remix)","slug":"you-got-to-go-feat-zoe-johnston-seven-lions-remix","isrc":"GBEWA1101240","releaseDate":"2011-12-21","publishDate":"2011-12-21","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/3181101.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/3000000\/100000\/80000\/1000\/100\/0\/3181101.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/3181101.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/3000000\/100000\/80000\/1000\/100\/0\/3181101.LOFI"}},"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75},"aiff":{"code":"usd","symbol":"$","value":75}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"5:03","bpm":140,"key":{"standard":{"letter":"C","sharp":false,"flat":false,"chord":"minor"},"shortName":"Cmin"},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"artist"},{"id":196318,"name":"Zoe
        Johnston","slug":"zoe-johnston","type":"artist"},{"id":241780,"name":"Seven
        Lions","slug":"seven-lions","type":"remixer"}],"genres":[{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"}],"subGenres":[],"charts":[{"id":45298,"position":1,"type":"chart"},{"id":45598,"position":10,"type":"chart"},{"id":45910,"position":3,"type":"chart"},{"id":48915,"position":7,"type":"chart"},{"id":48435,"position":5,"type":"chart"},{"id":48449,"position":9,"type":"chart"},{"id":48644,"position":6,"type":"chart"},{"id":50869,"position":10,"type":"chart"},{"id":50930,"position":10,"type":"chart"},{"id":55525,"position":6,"type":"chart"},{"id":57824,"position":4,"type":"chart"},{"id":60259,"position":6,"type":"chart"},{"id":61477,"position":2,"ty[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"id=7181","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=7181&perPage=50"},{"value":100,"applyQuery":"id=7181&perPage=100"},{"value":150,"applyQuery":"id=7181&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":7181,"type":"artist","name":"Above
        & Beyond","slug":"above-and-beyond","active":true,"lastPublishDate":"2013-02-05","biography":"","genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":10,"name":"Chill
        Out","slug":"chill-out","type":"genre"},{"id":15,"name":"Progressive House","slug":"progressive-house","type":"genre"},{"id":9,"name":"Breaks","slug":"breaks","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"},{"id":17,"name":"Electro
        House","slug":"electro-house","type":"genre"},{"id":1,"name":"Drum & Bass","slug":"drum-and-bass","type":"genre"},{"id":16,"name":"DJ
        Tools","slug":"dj-tools","type":"genre"},{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"},{"id":39,"name":"Pop
        \/ Rock","slug":"pop-rock","type":"genre"},{"id":3,"name":"Electronica","slug":"electronica","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":38,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":30,"name":"Epic","slug":"epic","type":"subgenre"},{"id":39,"name":"Downtempo","slug":"downtempo","type":"subgenre"},{"id":46,"name":"Acapellas","slug":"acapellas","type":"subgenre"},{"id":18,"name":"Disco","slug":"disco","type":"subgenre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491527.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491527.jpg"},"medium":{"width":88,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/491530.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491530.jpg"},"large":{"width":590,"height":404,"url":"http:\/\/geo-media.beatport.com\/image\/4686424.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/4686424.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/4686424.jpg"}},"profile":{"type":"profile","id":9112,"person":{"type":"person","id":40359},"url":"http:\/\/dj.beatport.com\/profile\/9112","images":[],"name":null,"genres":[],"bio":null,"joinedDate":null,"followerCount":null,"followingCount":null,"unpublishedChartCount":0,"soundcloudMode":null,"soundcloudId":null,"mixCount":false,"charts":[],"events":[],"mixes":[],"badges":[],"link":{"href":"http:\/\/dj.beatport.com\/aboveandbeyond","rel":"self"},"latestTracks":[]}}]}'
  recorded_at: Fri, 08 Feb 2013 21:01:59 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?ids[]=7181&ids[]=7182
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"ids%5B0%5D=7181&ids%5B1%5D=7182","page":1,"perPage":10,"count":2,"totalPages":1,"perPage[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?facets=artistName%3AAbove%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"facets%5B0%5D=artistName%3AAbove+%26+Beyond","page":1,"perPage":10,"c[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":false,"page":1,"perPage":10,"count":272814,"totalPages":27282,"nextQuery":"page=2","perPageOptions":[{"value":[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"perPage=5","page":1,"perPage":5,"count":272814,"totalPages":54563,"nextQuery":"perPage=5&page[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?sortBy=publishDate%20asc%2CartistId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"sortBy=publishDate+asc%2CartistId+asc&gen[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":272814,"totalPages":27282,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":84577,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Progressive
        House","count":61071,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Tech
        House","count":57224,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Electro
        House","count":48290,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3[...]
