---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/artist?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/artist","query":"id=7181","page":1,"perPage":10,"count":74,"totalPages":8,"nextQuery":"id=7181&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7181&perPage=50"},{"value":100,"applyQuery":"id=7181&perPage=100"},{"value":150,"applyQuery":"id=7181&perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2012-10-09"},"results":[{"id":3181101,"selected":false,"type":"track","sku":"track-3181101","name":"You
        Got To Go feat. Zoe Johnston","active":true,"mixName":"Seven Lions Remix","title":"You
        Got To Go feat. Zoe Johnston (Seven Lions Remix)","slug":"you-got-to-go-feat-zoe-johnston-seven-lions-remix","isrc":"GBEWA1101240","releaseDate":"2011-12-21","publishDate":"2011-12-21","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/3181101.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/3000000\/100000\/80000\/1000\/100\/0\/3181101.LOFI","exclusive":false,"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"5:03","bpm":140,"key":{"standard":{"letter":"C","sharp":false,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"artist"},{"id":196318,"name":"Zoe
        Johnston","slug":"zoe-johnston","type":"artist"},{"id":241780,"name":"Seven
        Lions","slug":"seven-lions","type":"remixer"}],"genres":[{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"}],"subGenres":[],"charts":[{"id":45298,"position":1,"type":"chart"},{"id":45598,"position":10,"type":"chart"},{"id":45910,"position":3,"type":"chart"},{"id":48915,"position":7,"type":"chart"},{"id":48435,"position":5,"type":"chart"},{"id":48449,"position":9,"type":"chart"},{"id":48644,"position":6,"type":"chart"},{"id":50869,"position":10,"type":"chart"},{"id":50930,"position":10,"type":"chart"},{"id":55525,"position":6,"type":"chart"},{"id":57824,"position":4,"type":"chart"},{"id":60259,"position":6,"type":"chart"},{"id":61477,"position":2,"ty[...]
