---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/artists?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/artists","query":false,"page":1,"perPage":10,"count":257551,"totalPages":25756,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":100,"type":"artist","name":"Ixis","slug":"ixis","active":true,"lastPublishDate":"2004-11-10","biography":"","genres":[{"id":1,"name":"Drum
        & Bass","slug":"drum-and-bass","type":"genre"}],"subGenres":[{"id":8,"name":"Techstep
        \/ Electrostep","slug":"techstep-electrostep","type":"subgenre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491527.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491527.jpg"},"medium":{"width":88,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/491530.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491530.jpg"},"large":{"width":590,"height":404,"url":"http:\/\/geo-media.beatport.com\/image\/5539565.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5539565.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5539565.jpg"}},"imageTextPosition":"left","imageTextBrightness":"dark","displayLevel":1},{"id":157,"type":"artist","name":"Greg
        Packer","slug":"greg-packer","active":true,"lastPublishDate":"2012-09-21","biography":"","genres":[{"id":1,"name":"Drum
        & Bass","slug":"drum-and-bass","type":"genre"},{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"},{"id":9,"name":"Breaks","slug":"breaks","type":"genre"}],"subGenres":[{"id":4,"name":"Intelligent","slug":"intelligent","type":"subgenre"},{"id":92,"name":"Drumstep","slug":"drumstep","type":"subgenre"}],"images":{"s[...]
