---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/audio-formats?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":10,"count":16},"results":[{"id":1,"name":"mp3","personPreferenceVisibility":true,"isLossless":false},{"id":2,"name":"m4a","personPreferenceVisibility":false,"isLossless":false},{"id":3,"name":"wav","personPreferenceVisibility":true,"isLossless":true},{"id":4,"name":"zip","personPreferenceVisibility":false,"isLossless":false},{"id":5,"name":"full
        download","personPreferenceVisibility":false,"isLossless":false},{"id":6,"name":"apple
        loops","personPreferenceVisibility":false,"isLossless":false},{"id":7,"name":"rex","personPreferenceVisibility":false,"isLossless":false},{"id":8,"name":"synth
        presets","personPreferenceVisibility":false,"isLossless":false},{"id":9,"name":"sampler
        patches","personPreferenceVisibility":false,"isLossless":false},{"id":10,"name":"reason
        refill","personPreferenceVisibility":false,"isLossless":false},{"id":11,"name":"elements","personPreferenceVisibility":false,"isLossless":false},{"id":12,"name":"s4","personPreferenceVisibility":false,"isLossless":false},{"id":13,"name":"ableton
        live racks","personPreferenceVisibility":false,"isLossless":false},{"id":14,"name":"aiff","personPreferenceVisibility":true,"isLossless":true},{"id":15,"name":"mp4","personPreferenceVisibility":false,"isLossless":false},{"id":16,"name":"ogg","personPreferenceVisibility":false,"isLossless":false}]}'
  recorded_at: Fri, 10 May 2013 15:04:14 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/audio-formats?id=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":10,"count":1},"results":[{"id":2,"name":"m4a","personPreferenceVisibility":false,"isLossless":false}]}'
  recorded_at: Fri, 10 May 2013 15:04:15 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/audio-formats?name=wav
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":10,"count":1},"results":[{"id":3,"name":"wav","personPreferenceVisibility":true,"isLossless":true}]}'
  recorded_at: Fri, 10 May 2013 15:04:15 GMT
recorded_with: VCR 2.4.0
