---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/audio-formats?id=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":10,"count":1},"results":[{"id":2,"name":"m4a","personPreferenceVisibility":false,"isLossless":false}]}'
  recorded_at: Wed, 10 Oct 2012 00:36:25 GMT
recorded_with: VCR 2.2.5
