---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/autocomplete?query=lutzen
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/autocomplete","query":"query=lutzen","page":1,"perPage":10,"count":36,"totalPages":4,"nextQuery":"query=lutzen&page=2","perPageOptions":[{"value":50,"applyQuery":"query=lutzen&perPage=50"},{"value":100,"applyQuery":"query=lutzen&perPage=100"},{"value":150,"applyQuery":"query=lutzen&perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]}},"results":[{"name":"Lutzencraft"},{"name":"Lutzenfierht"},{"name":"Lutzenkirchen"},{"name":"LXR
        aka Lutzenkirchen"},{"name":"Tobias Lutzenkirchen"},{"name":"Lutzenkirchen
        Top 10"},{"name":"Lutzenkirchen Best Of"},{"name":"Lutzenkirchen Charts"},{"name":"Lutzenkirchen
        Chart"},{"name":"Lutzenkirchen Top 10 5\/07"}]}'
  recorded_at: Wed, 10 Oct 2012 00:37:39 GMT
recorded_with: VCR 2.2.5
