---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/autocomplete?query=lutzen
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/autocomplete","query":"query=lutzen","page":1,"perPage":10,"count":39,"totalPages":4,"nextQuery":"query=lutzen&page=2","perPageOptions":[{"value":50,"applyQuery":"query=lutzen&perPage=50"},{"value":100,"applyQuery":"query=lutzen&perPage=100"},{"value":150,"applyQuery":"query=lutzen&perPage=150"}],"facets":{"fields":[]},"spellcheck":null},"results":[{"name":"Lutzencraft"},{"name":"Lutzenfierht"},{"name":"Lutzenkirchin"},{"name":"Lutzenkirchen"},{"name":"Tobias
        Lutzenkirchen"},{"name":"LXR aka Lutzenkirchen"},{"name":"LXR aka Lutzenkrichen"},{"name":"Lutzenkirchen
        Chart"},{"name":"Lutzenkirchen Best Of"},{"name":"Lutzenkirchen Charts"}]}'
  recorded_at: Tue, 09 Jul 2013 02:24:30 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/autocomplete?page=3&perPage=2&query=lutzen
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/autocomplete","query":"perPage=2&query=lutzen","page":3,"perPage":2,"count":39,"totalPages":20,"nextQuery":"perPage=2&query=lutzen&page=4","prevQuery":"perPage=2&query=lutzen&page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50&query=lutzen"},{"value":100,"applyQuery":"perPage=100&query=lutzen"},{"value":150,"applyQuery":"perPage=150&query=lutzen"}],"facets":{"fields":[]},"spellcheck":null},"results":[{"name":"Tobias
        Lutzenkirchen"},{"name":"LXR aka Lutzenkirchen"}]}'
  recorded_at: Tue, 09 Jul 2013 02:24:30 GMT
recorded_with: VCR 2.4.0
