---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?chartId=15722
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"chartId=15722","page":1,"perPage":10,"count":9,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"chartId=15722&perPage=50"},{"value":100,"applyQuery":"chartId=15722&perPage=100"},{"value":150,"applyQuery":"chartId=15722&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-11-11","endDate":"2012-11-11","applyQuery":"chartId=15722&publishDateStart=2012-11-11&publishDateEnd=2012-11-11","applied":false},{"name":"yesterday","startDate":"2012-11-10","endDate":"2012-11-11","applyQuery":"chartId=15722&publishDateStart=2012-11-10&publishDateEnd=2012-11-11","applied":false},{"name":"weekToDate","startDate":"2012-11-04","endDate":"2012-11-11","applyQuery":"chartId=15722&publishDateStart=2012-11-04&publishDateEnd=2012-11-11","applied":false},{"name":"monthToDate","startDate":"2012-10-11","endDate":"2012-11-11","applyQuery":"chartId=15722&publishDateStart=2012-10-11&publishDateEnd=2012-11-11","applied":false},{"name":"yearToDate","startDate":"2011-11-11","endDate":"2012-11-11","applyQuery":"chartId=15722&publishDateStart=2011-11-11&publishDateEnd=2012-11-11","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"chartId=15722"}],"rangeFilters":{"bpm":{"custom":true,"rangeName":"bpm","applied":false,"applyQuery":"chartId=15722"}},"spellcheck":{"suggestions":[]}},"results":[{"id":846136,"selected":false,"type":"track","sku":"track-846136","name":"Magenta","trackNumber":6,"active":true,"mixName":"Original
        Mix","title":"Magenta (Original Mix)","slug":"magenta-original-mix","isrc":"GBEWA0810391","releaseDate":"2009-05-12","publishDate":"2009-05-12","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/846136.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume4\/items\/0\/800000\/40000\/6000\/100\/30\/846136.LOFI","exclusive":false,"isPromotable":null,"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"07:17","bpm":134,"key":{"standard":{"letter":"A","sharp":false,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":19183,"name":"Nitrous
        Oxide","slug":"nitrous-oxide","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":15722,"position":3,"type":"chart"},{"id":15792,"position":8,"type":"chart"},{"id":17795,"position":1,"type":"chart"}],"release":{"id":170623,"name":"Anjunabeats
        Spring Collection 02","type":"release","slug":"anjunabeats-spring-collection-02"},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/412860.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412860.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/412861.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412861.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/412862.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412862.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/1907101.png","secureUrl":"https:\/\/media.beatport.com\/image\/1907101.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/412862.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1907101.png"}}},{"id":806756,"selected":false,"type":"track","sku":"track-806756","name":"Onyric","trackNumber":6,"active":true,"mixName":"Stoneface
        & Terminal Remix","title":"Onyric (Stoneface & Terminal Remix)","slug":"onyric-stoneface-and-terminal-remix","isrc":"DEL670900058","releaseDate":"2009-03-17","publishDate":"2009-03-17","sampleUrl":[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?id=15722
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"id=15722","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?ids[]=15722&ids[]=15723
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"ids%5B0%5D=15722&ids%5B1%5D=15723","page":1,"perPage":10,"count":2,"totalPages":1,"perPa[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":false,"page":1,"perPage":10,"count":106398,"totalPages":10640,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-11-11","endDate":"2012-11-11","applyQuery":"publishDateStart=2012-11-11&publishDateEnd=2012-11-11","applied":false},{"name":"yesterday","startDate":"2012-11-10","endDate":"2012-11-11","applyQuery":"publishDateStart=2012-11-10&publishDateEnd=2012-11-11","applied":false},{"name":"weekToDate","startDate":"2012-11-04","endDate":"2012-11-11","applyQuery":"publishDateStart=2012-11-04&publishDateEnd=2012-11-11","applied":false},{"name":"monthToDate","startDate":"2012-10-11","endDate":"2012-11-11","applyQuery":"publishDateStart=2012-10-11&publishDateEnd=2012-11-11","applied":false},{"name":"yearToDate","startDate":"2011-11-11","endDate":"2012-11-11","applyQuery":"publishDateStart=2011-11-11&publishDateEnd=2012-11-11","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":""}],"spellcheck":{"suggestions":[]}},"results":[{"id":1,"type":"chart","sku":"chart-1","name":"Twisted
        America''s Top 10","slug":"twisted-americas-top-10","description":"Past hits!","active":true,"publishDate":"2004-12-17","price":{"code":"usd","symbol":"$","value":1640},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":1000},"aiff":{"code":"usd","symbol":"$","value":1000}},"genres":[{"id":5,"name":"House","slug":"house","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"},{"id":8,"name":"Hard Dance","slug":"hard-dance","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491534.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491534.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/491533.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491533.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5245821.jpg"}},"chartOwner":null,"trackCount":0},{"id":2,"type":"chart","sku":"chart-2","name":"IHR
        Top 10","slug":"ihr-top-10","description":"Past hits!","active":true,"publishDate":"2004-12-17","price":{"code":"usd","symbol":"$","value":1490},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":1000},"aiff":{"code":"usd","symbol":"$","value":1000}},"genres":[{"id":5,"name":"House","slug":"house","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491534.jpg","secureUrl":"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"perPage=5","page":1,"perPage":5,"count":106398,"totalPages":21280,"nextQuery":"perPage=5&page=2[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?sortBy=publishDate%20asc%2CchartId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"sortBy=publishDate+asc%2CchartId+asc&genreId[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":106398,"totalPages":10640,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"Tech
        House","count":63361,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"House","count":51233,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Techno","count":47121,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","removeQuery":null},{"name":"Deep
        House","count":41396,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ADeep+House","removeQuery":null},{"name":"Progressi[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?facets=genreName%3ATrance%2CgenreName%3AProgessive%20House
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProges[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/charts?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":24},"results":[{"id":127006,"type":"chart","sku":"chart-127006","name":"On
        Rotation - Week 45","slug":"on-rotation-week-45","description":"Nostalgic[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/charts?genreId=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":32},"results":[{"id":124628,"type":"chart","sku":"chart-124628","name":"10
        Must Hear Trance Tracks - Week 44","slug":"10-must-hear-trance-t[...]
