---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?id=15722
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"id=15722","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=15722&perPage=50"},{"value":100,"applyQuery":"id=15722&perPage=100"},{"value":150,"applyQuery":"id=15722&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-08-14","endDate":"2013-08-14","applyQuery":"id=15722&publishDateStart=2013-08-14&publishDateEnd=2013-08-14","applied":false},{"name":"yesterday","startDate":"2013-08-13","endDate":"2013-08-14","applyQuery":"id=15722&publishDateStart=2013-08-13&publishDateEnd=2013-08-14","applied":false},{"name":"weekToDate","startDate":"2013-08-07","endDate":"2013-08-14","applyQuery":"id=15722&publishDateStart=2013-08-07&publishDateEnd=2013-08-14","applied":false},{"name":"monthToDate","startDate":"2013-07-14","endDate":"2013-08-14","applyQuery":"id=15722&publishDateStart=2013-07-14&publishDateEnd=2013-08-14","applied":false},{"name":"yearToDate","startDate":"2012-08-14","endDate":"2013-08-14","applyQuery":"id=15722&publishDateStart=2012-08-14&publishDateEnd=2013-08-14","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=15722"}],"spellcheck":null},"results":[{"id":15722,"type":"chart","sku":"chart-15722","name":"Nitrous
        Oxide \u2013 April Top 10","slug":"nitrous-oxide-april-top-10","description":"","active":true,"indexed":true,"publishDate":"2009-05-12","price":{"code":"usd","symbol":"$","value":1391,"display":"$13.91"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":675,"display":"$6.75"},"aiff":{"code":"usd","symbol":"$","value":675,"display":"$6.75"}},"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491534.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491534.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/412921.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412921.jpg"},"large":{"width":130,"height":130,"url":"http:\/\/geo-media.beatport.com\/image\/412922.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412922.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5245821.jpg"}},"chartOwner":null,"trackCount":0}]}'
  recorded_at: Wed, 14 Aug 2013 22:51:26 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?chartId=15722
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"chartId=15722","page":1,"perPage":10,"c[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?ids%5B0%5D=15722&ids%5B1%5D=15723
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"ids%5B0%5D=15722&id[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":false,"page":1,"perPage":10,"count":154932,"totalPages":15494,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-08-14","endDate":"2013-08-14","applyQuery":"publishDateStart=2013-08-14&publishDateEnd=2013-08-14","applied":false},{"name":"yesterday","startDate":"2013-08-13","endDate":"2013-08-14","applyQuery":"publishDateStart=2013-08-13&publishDateEnd=2013-08-14","applie[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?page=1&perPage=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"perPage=5","page":1,"perPage":5,"cou[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?genreId=5&page=1&perPage=5&sortBy=publishDate%20asc,chartId%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/char[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?returnFacets=genreName,performerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":154932,"totalPages":15494,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"Tech
        House","count":90396,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"House","count":69607,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Techno","count":66654,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","removeQuery":null},{"name":"Deep
        House","count":64722,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ADeep+House","removeQuery":null},{"name":"Progressi[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?facets=genreName:Trance,genreName:Progessive%20House
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/charts?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":24},"results":[{"id":206073,"type":"chart","sku":"chart-206073","name":"On
        Rotation - Wee[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/charts?genreId=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":19},"results":[{"id":207139,"type":"chart","sku":"chart-207139","name":"10
        Must [...]
