---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?id=15722
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"id=15722","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=15722&perPage=50"},{"value":100,"applyQuery":"id=15722&perPage=100"},{"value":150,"applyQuery":"id=15722&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-10-09","endDate":"2012-10-09","applyQuery":"id=15722&publishDateStart=2012-10-09&publishDateEnd=2012-10-09","applied":false},{"name":"yesterday","startDate":"2012-10-08","endDate":"2012-10-09","applyQuery":"id=15722&publishDateStart=2012-10-08&publishDateEnd=2012-10-09","applied":false},{"name":"weekToDate","startDate":"2012-10-02","endDate":"2012-10-09","applyQuery":"id=15722&publishDateStart=2012-10-02&publishDateEnd=2012-10-09","applied":false},{"name":"monthToDate","startDate":"2012-09-09","endDate":"2012-10-09","applyQuery":"id=15722&publishDateStart=2012-09-09&publishDateEnd=2012-10-09","applied":false},{"name":"yearToDate","startDate":"2011-10-09","endDate":"2012-10-09","applyQuery":"id=15722&publishDateStart=2011-10-09&publishDateEnd=2012-10-09","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=15722"}],"spellcheck":{"suggestions":[]}},"results":[{"id":15722,"type":"chart","sku":"chart-15722","name":"Nitrous
        Oxide \u2013 April Top 10","slug":"nitrous-oxide-april-top-10","description":"","active":true,"publishDate":"2009-05-12","price":{"code":"usd","symbol":"$","value":1391},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":900},"aiff":{"code":"usd","symbol":"$","value":900}},"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491534.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491534.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/412921.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412921.jpg"},"large":{"width":130,"height":130,"url":"http:\/\/geo-media.beatport.com\/image\/412922.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412922.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5245821.jpg"}},"chartOwner":null}]}'
  recorded_at: Wed, 10 Oct 2012 00:40:52 GMT
recorded_with: VCR 2.2.5
