---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?ids[]=15722&ids[]=15723
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"ids%5B0%5D=15722&ids%5B1%5D=15723","page":1,"perPage":10,"count":2,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723&perPage=50"},{"value":100,"applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723&perPage=100"},{"value":150,"applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-02-08","endDate":"2013-02-08","applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723&publishDateStart=2013-02-08&publishDateEnd=2013-02-08","applied":false},{"name":"yesterday","startDate":"2013-02-07","endDate":"2013-02-08","applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723&publishDateStart=2013-02-07&publishDateEnd=2013-02-08","applied":false},{"name":"weekToDate","startDate":"2013-02-01","endDate":"2013-02-08","applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723&publishDateStart=2013-02-01&publishDateEnd=2013-02-08","applied":false},{"name":"monthToDate","startDate":"2013-01-08","endDate":"2013-02-08","applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723&publishDateStart=2013-01-08&publishDateEnd=2013-02-08","applied":false},{"name":"yearToDate","startDate":"2012-02-08","endDate":"2013-02-08","applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723&publishDateStart=2012-02-08&publishDateEnd=2013-02-08","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"ids%5B0%5D=15722&ids%5B1%5D=15723"}],"spellcheck":{"suggestions":[]}},"results":[{"id":15722,"type":"chart","sku":"chart-15722","name":"Nitrous
        Oxide \u2013 April Top 10","slug":"nitrous-oxide-april-top-10","description":"","active":true,"publishDate":"2009-05-12","price":{"code":"usd","symbol":"$","value":1391},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":675},"aiff":{"code":"usd","symbol":"$","value":675}},"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491534.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491534.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/412921.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412921.jpg"},"large":{"width":130,"height":130,"url":"http:\/\/geo-media.beatport.com\/image\/412922.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412922.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5245821.jpg"}},"chartOwner":null,"trackCount":0},{"id":15723,"type":"chart","sku":"chart-15723","name":"S-Groove\u2019s
        Spring 2009 Picks","slug":"s-groove-s-spring-2009-picks","description":"Belfast
        based dj\/producer Sean Grieve. Signed to Forensic Records & Dutchie Music.\r\nMyspace;
        http:\/\/www.myspace.com\/sgroove01\r\n","active":true,"publishDate":"2009-05-12","price":{"code":"usd","symbol":"$","value":1490},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":750},"aiff":{"code":"usd","symbol":"$","value":750}},"genres":[{"id":5,"name":"House","slug":"house","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"},{"id":12,"name":"Deep House","slug":"deep-house","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491534.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491534.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/412932.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412932.jpg"},"large":{"width":130,"height":130,"url":"http:\/\/geo-media.beatport.com\/image\/412933.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/412933.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5245821.jpg"}},"chartOwner":null,"trackCount":0}]}'
  recorded_at: Fri, 08 Feb 2013 20:58:31 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"perPage=5","page":1,"perPage":5,"count":124694,"totalPages":24939,"nextQuery":"perPage=5&page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-02-08","endDate":"2013-02-08","applyQuery":"perPage=5&publishDateStart=2013-02-08&publishDateEnd=2013-02-08","applied":false},{"name":"yesterday","startDate":"2013-02-07","endDate":"2013-02-08","applyQuery":"perPage=5&publishDateStart=2013-02-07&publ[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?sortBy=publishDate%20asc%2CchartId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"sortBy=publishDate+asc%2CchartId+asc&genreId[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":124694,"totalPages":12470,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"Tech
        House","count":73647,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"House","count":58346,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Techno","count":54466,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","removeQuery":null},{"name":"Deep
        House","count":50180,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ADeep+House","removeQuery":null},{"name":"Progressi[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?facets=genreName%3ATrance%2CgenreName%3AProgessive%20House
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProges[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?chartId=15722
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"chartId=15722","page":1,"perPage":10,"count":9,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"chartId=15722&perPage=50"},{"value":100,"applyQuery":"chartId=15722&perPage=100"},{"value":150,"applyQuery":"chartId=15722&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-04-06","endDate":"2013-04-06","applyQuery":"chartId=15722&publishDateStart=2013-04-06&publishDateEnd=2013-04-06","applied":false},{"name":"yesterday","startDate":"2013-04-05","endDate":"2013-04-06","applyQuery":"chartId=15722&publishDateStart=2013-04-05&publishDateEnd=2013-04-06","applied":false},{"name":"weekToDate","startDate":"2013-03-30","endDate":"2013-04-06","applyQuery":"chartId=15722&publishDateStart=2013-03-30&publishDateEnd=2013-04-06","applied":false},{"name":"monthToDate","startDate":"2013-03-06","endDate":"2013-04-06","applyQuery":"chartId=15722&publishDateStart=2013-03-06&publishDateEnd=2013-04-06","applied":false},{"name":"yearToDate","startDate":"2012-04-06","endDate":"2013-04-06","applyQuery":"chartId=15722&publishDateStart=2012-04-06&publishDateEnd=2013-04-06","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"chartId=15722"}],"rangeFilters":{"bpm":{"custom":true,"rangeName":"bpm","applied":false,"applyQuery":"chartId=15722"}},"spellcheck":null},"results":[{"id":783748,"selected":false,"type":"track","sku":"track-783748","name":"Kaleidoscope
        Eyes","trackNumber":1,"active":true,"mixName":"Original Mix","title":"Kaleidoscope
        Eyes (Original Mix)","slug":"kaleidoscope-eyes-original-mix","isrc":"GBKQU0903924","releaseDate":"2009-02-11","publishDate":"2009-02-11","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/783748.LOFI.mp3","isPreviewAvailable":false,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/0\/700000\/80000\/3000\/700\/40\/783748.LOFI","exclusive":false,"isPromotable":false,"preview":null,"price":{"code":"usd","symbol":"US$","value":149,"display":"US$1.49"},"audioFormatFee":{"wav":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"},"aiff":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"},"aiff":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"}},"purchasable":true,"currentStatus":"General
        Content","length":"08:07","lengthMs":null,"bpm":136,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"major"},"shortName":"D&#9839;maj"},"saleType":"purchase","artists":[{"id":42354,"name":"Adymus","slug":"adymus","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[{"id":30,"name":"Epic","slug":"epic","type":"subgenre"}],"charts":[{"id":15722,"position":4,"type":"chart"}],"release":{"id":156979,"name":"Kaleidoscope
        Eyes \/ Luminous Beings","type":"release","slug":"kaleidoscope-eyes-luminous-beings"},"label":{"id":1301,"name":"Enhanced
        Recordings","type":"label","slug":"enhanced-recordings","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/365541.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/365541.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/365542.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/365542.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/365543.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/365543.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/2119665.png","secureUrl":"https:\/\/media.beatport.com\/image\/2119665.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/365543.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/2119665.png"}}},{"id":806756,"selected":false,"type":"track","sku":"track-806756","name":"Onyric","trackNumber":6,"active":true,"mixName":"Stoneface
        & Terminal Remix","ti[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?id=15722
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"id=15722","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?ids%5B0%5D=15722&ids%5B1%5D=15723
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"ids%5B0%5D=15722&ids%5B1%5D=15723","page":1,"perPage":10,"count":2,"totalPages[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":false,"page":1,"perPage":10,"count":135616,"totalPages":13562,"nextQuery":"page=2","perPageOptions":[{"value":50[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?page=1&perPage=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"perPage=5","page":1,"perPage":5,"count":135616,"totalPages":27124,"nextQuery":"perPage=5&page=2[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?genreId=5&page=1&perPage=5&sortBy=publishDate%20asc,chartId%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"sortBy=publishDate+asc%2CchartId+asc&genreId=5[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?returnFacets=genreName,performerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":13561[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts?facets=genreName:Trance,genreName:Progessive%20House
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/charts","query":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+H[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/charts?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":30},"results":[{"id":168204,"type":"chart","sku":"chart-168204","name":"Exclusives
        On Beatport - Week 14","slug":"exclusives-on-beatport-week-14","description":"","active":true,"indexed":true,"publishDate":"2013-04-02","price":{"code":"usd","symbol":"US$","value":2490,"display":"US$24.90"},"audioFormatFee":{"wav":{"code":"usd","symbol":"US$","value":750,"display":"US$7.50"},"aiff":{"code":"usd","symbol":"US$","value":750,"display":"US$7.50"}},"genres":[{"id":12,"name":"Deep
        House","slug":"deep-house","type":"genre"},{"id":11,"name":"Tech House","slug":"tech-house","type":"genre"},{"id":1,"name":"Drum
        & Bass","slug":"drum-and-bass","type":"genre"},{"id":17,"name":[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/charts?genreId=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":54},"results":[{"id":168659,"type":"chart","sku":"chart-168659","name":"10
        Must Hear Trance Tracks - Week 14","slug":"10-must-hear-trance-t[...]
