---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/charts/overview?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"newest":{"featureId":673,"displayHeader":"NEWEST CHARTS"},"featured":{"featureId":674,"displayHeader":"Featured
        Charts"},"page":1,"perPage":1,"count":1},"results":{"newest":[{"id":111503,"type":"chart","sku":"chart-111503","name":"Steve
        Bug''s The Dark Fall Chart","slug":"steve-bugs-the-dark-fall-chart","description":"","active":true,"publishDate":"2012-09-07","price":{"code":"usd","symbol":"$","value":1840},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":1000},"aiff":{"code":"usd","symbol":"$","value":1000}},"genres":[{"id":37,"name":"Indie
        Dance \/ Nu Disco","slug":"indie-dance-nu-disco","type":"genre"},{"id":12,"name":"Deep
        House","slug":"deep-house","type":"genre"},{"id":11,"name":"Tech House","slug":"tech-house","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/491534.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491534.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/491533.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491533.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5964855.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5964855.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5964855.jpg"}},"chartOwner":{"id":2590050,"type":"djprofile","name":"Steve
        Bug"}},{"id":111434,"type":"chart","sku":"chart-111434","name":"DJ Dan September
        2012 Top 10","slug":"dj-dan-september-2012-top-10","description":"","active":true,"publishDate":"2012-09-06","price":{"code":"usd","symbol":"$","value":1590},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":1000},"aiff":{"code":"usd","symbol":"$","value":1000}},"genres":[{"id":11,"name":"Tech
        House","slug":"tech-house","type":"genre"},{[...]
