---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/currencies?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":10,"count":171},"results":[{"id":1,"name":"Dollar","code":"USD"},{"id":2,"name":"Pound","code":"GBP"},{"id":3,"name":"Euro","code":"EUR"},{"id":4,"name":"Australian
        Dollar","code":"AUD"},{"id":5,"name":"Canadian Dollar","code":"CAD"},{"id":119,"name":"Mauritania
        Ouguiyas","code":"MRO"},{"id":118,"name":"Cuba Convertible","code":"CUC"},{"id":117,"name":"Turkmenistan
        Manats - Replaced by TMT","code":"TMM"},{"id":116,"name":"Maldives (Maldive
        Islands) Rufiyaa","code":"MVR"},{"id":115,"name":"Croatia Kuna","c[...]
