---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Wed, 10 Oct 2012 16:07:33 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7&perPage=50"},{"value":100,"applyQuery":"id=7&perPage=100"},{"value":150,"applyQuery":"id=7&perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2012-10-10"},"results":[{"id":3790761,"selected":false,"type":"track","sku":"track-3790761","name":"Silence
        feat. Sarah McLachlan","active":true,"mixName":"W&W vs Jonas Stenberg Remix","title":"Silence
        feat. Sarah McLachlan (W&W vs Jonas Stenberg Remix)","slug":"silence-feat-sarah-mclachlan-w-and-w-vs-jonas-stenberg-remix","isrc":"CAN111200100","releaseDate":"2012-09-21","publishDate":"2012-09-21","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/3790761.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume2\/items\/3000000\/700000\/90000\/0\/700\/60\/3790761.LOFI","exclusive":false,"price":{"code":"usd","symbol":"$","value":199},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"New
        Release","length":"5:28","bpm":130,"key":{"standard":{"letter":"A","sharp":false,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":10426,"name":"Delerium","slug":"delerium","type":"artist"},{"id":24772,"name":"Sarah
        McLachlan","slug":"sarah-mclachlan","type":"artist"},{"id":67269,"name":"W&W","slug":"w-and-w","type":"remixer"},{"id":69678,"name":"Jonas
        Stenberg","slug":"jonas-stenberg","type":"remixer"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":115153,"position":4,"type":"chart"},{"id":115667,"position":6,"type":"chart"},{"id":117694,"position":2,"type":"chart"},{"id":116131,"position":3,"type":"chart"},{"id":111801,"position":1,"type":"chart"},{"id":117359,"position":5,"type":"chart"},{"id":117400,"position":1,"type":"chart"},{"id":117417,"position":2,"type":"chart"},{"id":117612,"position":3,"type":"chart"},{"id":117634,"position":6,"type":"chart"},{"id":117737,"position":1,"type":"chart"},{"id":117833,"position":2,"type":"chart"},{"id":117937,"position":4,"type":"chart"},{"id":117997,"position":2,"type":"chart"},{"id":118205,"position":3,"type":"chart"},{"id":118230,"position":3,"type":"chart"},{"id":118272,"position":6,"type":"chart"},{"id":118716,"position":4,"type":"chart"},{"id":119247,"position":2,"type":"chart"},{"id":119559,"position":1,"type":"chart"},{"id":119601,"position":5,"type":"chart"},{"id":119713,"position":1,"type":"chart"},{"id":119820,"position":7,"type":"chart"},{"id":119876,"position":9,"type":"chart"},{"id":119889,"position":9,"type":"chart"},{"id":119977,"position":5,"type":"chart"},{"id":119999,"position":8,"type":"chart"},{"id":119022,"position":8,"type":"chart"},{"id":120196,"position":12,"type":"chart"}],"release":{"id":968981,"name":"Mainstage,
        Vol. 1 - Mixed by W&W","type":"release","slug":"mainstage-vol-1-mixed-by-w-and-w"},"label":{"id":38,"name":"Armada
        Music","type":"label","slug":"armada-music"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/5989096.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5989096.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/5989097.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5989097.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5989098.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5989098.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/5991474.png","secureUrl":"https:\/\/media.beatport.com\/image\/5991474.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5989098.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5991474.png"}},"position":1},{"id":3790517,"selected":false,"type":"track","sku":"track-3790517","name":"Must
        Be The Love","active":true,"mixName":"Original Mix","title":"Must Be The Love
        (Original Mix)","slug":"must-be-the-love-original-mix","isrc":"NLF711204878","releaseDate":"2012-09-17","publishDate":"2012-09-17","sampleUrl":"http:[...]
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","slug":"breaks","subgenres":[]},{"id":10,"name":"Chill
        Out","slug":"chill-out","subgenres":[]},{[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-step"},{"id":37,"n[...]
