---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","type":"genre","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Fri, 08 Feb 2013 20:58:42 GMT
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=trance&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":0,"count":0},"results":[]}'
  recorded_at: Fri, 10 May 2013 15:04:32 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=breaks&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-step"},{"id":37,"name":"Acid","slug":"acid"},{"id":33,"name":"Big
        Beat","slug":"big-beat"},{"id":35,"name":"Electro","slug":"electro"},{"id":62,"name":"Funky
        Breaks","slug":"funky-breaks"},{"id":63,"name":"Hardcore Breaks","slug":"hardcore-breaks"},{"id":36,"name":"Nu
        Skool","slug":"nu-skool"},{"id":38,"name":"Progressive","slug":"progressive"},{"id":96,"name":"Psybreaks","slug":"psybreaks"}]}]}'
  recorded_at: Fri, 10 May 2013 15:04:32 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?id=9999999&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":0,"count":0},"results":[]}'
  recorded_at: Fri, 10 May 2013 15:04:32 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[][...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks",[...]
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7&perPage=50"},{"value":100,"applyQuery":"id=7&perPage=100"},{"value":150,"applyQuery":"id=7&perPage=150"}],"facets":{"fields":[]},"spellcheck":null,"date":"2013-05-10"},"results":[{"id":4320789,"selected":false,"type":"track","sku":"track-4320789","name":"Walter
        White","trackNumber":1,"active":true,"mixName":"Original Mix","title":"Walter
        White (Original Mix)","slug":"walter-white-original-mix","isrc":"GBEWA1300230","releaseDate":"2013-04-29","publishDate":"2013-04-29","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/4320789.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume4\/items\/4000000\/300000\/20000\/0\/700\/80\/4320789.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4320789.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume4\/items\/4000000\/300000\/20000\/0\/700\/80\/4320789.LOFI","offset":{"start":"171578","end":"291578"}},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4320789.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/volume4\/items\/4000000\/300000\/20000\/0\/700\/80\/4320789.LOFI","offset":{"start":"171578","end":"291578"}}},"price":{"code":"usd","symbol":"$","value":199,"display":"$1.99"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"purchasable":true,"currentStatus":"New
        Release","length":"7:08","lengthMs":428946,"bpm":128,"key":{"standard":{"letter":"A","sharp":true,"flat":false,"chord":"minor"},"shortName":"A&#9839;min"},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":175914,"position":8,"type":"chart"},{"id":175989,"position":1,"type":"chart"},{"id":175993,"position":9,"type":"chart"},{"id":175999,"position":4,"type":"chart"},{"id":176001,"position":5,"type":"chart"},{"id":176005,"position":2,"type":"chart"},{"id":176188,"position":5,"type":"chart"},{"id":158272,"position":8,"type":"chart"},{"id":176097,"position":9,"type":"chart"},{"id":176298,"position":1,"type":"chart"},{"id":176348,"position":4,"type":"chart"},{"id":176570,"position":8,"type":"chart"},{"id":177526,"position":3,"type":"chart"},{"id":177646,"position":6,"type":"chart"},{"id":177653,"position":6,"type":"chart"},{"id":177886,"position":2,"type":"chart"},{"id":177891,"position":8,"type":"chart"},{"id":177881,"position":10,"type":"chart"},{"id":177952,"position":8,"type":"chart"},{"id":178082,"position":4,"type":"chart"},{"id":178095,"position":5,"type":"chart"},{"id":178301,"position":10,"type":"chart"},{"id":178317,"position":2,"type":"chart"},{"id":178606,"position":6,"type":"chart"},{"id":178669,"position":3,"type":"chart"},{"id":178968,"position":1,"type":"chart"},{"id":179191,"position":6,"type":"chart"}],"release":{"id":1075671,"name":"Walter
        White","type":"release","slug":"walter-white"},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/7269348.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7269348.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/7269349.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7269349.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/7269350.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7269350.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/7269355.png","secureUrl":"https:\/\/media.beatport.com\/image\/7269355.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/7269350.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/7269355.png"}},"position":1},{"id":4317034,"selected":false,"type":"track","sku":"track-4317034","name":"Black
        Light","trackNumber":1,"active":true,"mixName":"Original Mix","title":"Black
        Light (Original Mix)","slug":"black-light-original-mix","isrc":"NLQ881301099","releaseDate":"2013-04-29","publishDate":"2013-04-29","sampleUrl":"http[...]
