---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7&perPage=50"},{"value":100,"applyQuery":"id=7&perPage=100"},{"value":150,"applyQuery":"id=7&perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2012-11-11"},"results":[{"id":3863535,"selected":false,"type":"track","sku":"track-3863535","name":"Fall
        With Me feat. The Glass Child","trackNumber":1,"active":true,"mixName":"Original
        Mix","title":"Fall With Me feat. The Glass Child (Original Mix)","slug":"fall-with-me-feat-the-glass-child-original-mix","isrc":"GB2CT0900192","releaseDate":"2012-10-29","publishDate":"2012-10-29","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/3863535.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume4\/items\/3000000\/800000\/60000\/3000\/500\/30\/3863535.LOFI","exclusive":true,"isPromotable":null,"price":{"code":"usd","symbol":"$","value":249},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"Exclusive","length":"7:16","bpm":132,"key":{"standard":{"letter":"C","sharp":false,"flat":false,"chord":"major"}},"saleType":"purchase","artists":[{"id":31283,"name":"Ben
        Gold","slug":"ben-gold","type":"artist"},{"id":294066,"name":"The Glass Child","slug":"the-glass-child","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":124628,"position":4,"type":"chart"},{"id":124657,"position":9,"type":"chart"},{"id":124664,"position":1,"type":"chart"},{"id":125347,"position":1,"type":"chart"},{"id":125354,"position":1,"type":"chart"},{"id":125864,"position":6,"type":"chart"},{"id":125968,"position":3,"type":"chart"},{"id":126085,"position":7,"type":"chart"},{"id":126148,"position":3,"type":"chart"},{"id":126225,"position":6,"type":"chart"},{"id":126241,"position":3,"type":"chart"},{"id":126359,"position":3,"type":"chart"},{"id":126639,"position":3,"type":"chart"},{"id":126774,"position":7,"type":"chart"},{"id":127466,"position":6,"type":"chart"},{"id":127591,"position":2,"type":"chart"},{"id":127650,"position":8,"type":"chart"},{"id":127672,"position":3,"type":"chart"},{"id":127962,"position":7,"type":"chart"}],"release":{"id":983670,"name":"Fall
        With Me","type":"release","slug":"fall-with-me"},"label":{"id":12948,"name":"Garuda","type":"label","slug":"garuda"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/6131125.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6131125.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/6131126.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6131126.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/6131127.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6131127.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/6135465.png","secureUrl":"https:\/\/media.beatport.com\/image\/6135465.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/6131127.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/6135465.png"}},"position":1},{"id":3867690,"selected":false,"type":"track","sku":"track-3867690","name":"Copperfield","trackNumber":1,"active":true,"mixName":"Original
        Mix","title":"Copperfield (Original Mix)","slug":"copperfield-original-mix","isrc":"NLF711205912","releaseDate":"2012-11-05","publishDate":"2012-11-05","sampleUrl":"http:\/\/geo[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","type":"genre","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Sun, 11 Nov 2012 17:28:18 GMT
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[]},{"id":10,"name":"Chill
        Out","type":"genre","slug"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-ste[...]
