---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7&perPage=50"},{"value":100,"applyQuery":"id=7&perPage=100"},{"value":150,"applyQuery":"id=7&perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2013-02-08"},"results":[{"id":4082587,"selected":false,"type":"track","sku":"track-4082587","name":"The
        Expedition (A State Of Trance 600 Anthem)","trackNumber":1,"active":true,"mixName":"Original
        Mix","title":"The Expedition (A State Of Trance 600 Anthem) (Original Mix)","slug":"the-expedition-a-state-of-trance-600-anthem-original-mix","isrc":"NLF711301269","releaseDate":"2013-01-28","publishDate":"2013-01-28","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/4082587.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume5\/items\/4000000\/0\/80000\/2000\/500\/80\/4082587.LOFI","exclusive":true,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4082587.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume5\/items\/4000000\/0\/80000\/2000\/500\/80\/4082587.LOFI"},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4082587.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/volume5\/items\/4000000\/0\/80000\/2000\/500\/80\/4082587.LOFI"}},"price":{"code":"usd","symbol":"$","value":249},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75},"aiff":{"code":"usd","symbol":"$","value":75}},"losslessUpgradeFormatFee":[],"currentStatus":"Exclusive","length":"7:02","bpm":133,"key":{"standard":{"letter":"F","sharp":false,"flat":false,"chord":"minor"},"shortName":"Fmin"},"saleType":"purchase","artists":[{"id":1728,"name":"Markus
        Schulz","slug":"markus-schulz","type":"artist"},{"id":2228,"name":"Armin van
        Buuren","slug":"armin-van-buuren","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":146691,"position":1,"type":"chart"},{"id":147412,"position":1,"type":"chart"},{"id":147005,"position":3,"type":"chart"},{"id":147466,"position":1,"type":"chart"},{"id":147478,"position":1,"type":"chart"},{"id":147537,"position":6,"type":"chart"},{"id":147577,"position":6,"type":"chart"},{"id":147302,"position":10,"type":"chart"},{"id":147587,"position":6,"type":"chart"},{"id":147652,"position":10,"type":"chart"},{"id":146763,"position":1,"type":"chart"},{"id":147798,"position":10,"type":"chart"},{"id":147932,"pos[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","type":"genre","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Fri, 08 Feb 2013 20:58:42 GMT
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[]},{"id":10,"name":"Chill
        Out","type":"genre","slug"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-ste[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?id=7&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","type":"genre","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Fri, 08 Feb 2013 21:07:01 GMT
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=breaks&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-step"},{"id":37,"name":"Acid","slug":"acid"},{"id":33,"name":"Big
        Beat","slug":"big-beat"},{"id":35,"name":"Electro","slug":"electro"},{"id":62,"name":"Funky
        Breaks","slug":"funky-breaks"},{"id":63,"name":"Hardcore Breaks","slug":"hardcore-breaks"},{"id":36,"name":"Nu
        Skool","slug":"nu-skool"},{"id":38,"name":"Progressive","slug":"progressive"},{"id":96,"name":"Psybreaks","slug":"psybreaks"}]}]}'
  recorded_at: Tue, 12 Feb 2013 19:22:25 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=trance&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":0,"count":0},"results":[]}'
  recorded_at: Tue, 12 Feb 2013 19:23:00 GMT
recorded_with: VCR 2.4.0
