---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","type":"genre","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Fri, 08 Feb 2013 20:58:42 GMT
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=trance&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":0,"count":0},"results":[]}'
  recorded_at: Sat, 06 Apr 2013 17:40:37 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=breaks&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-step"},{"id":37,"name":"Acid","slug":"acid"},{"id":33,"name":"Big
        Beat","slug":"big-beat"},{"id":35,"name":"Electro","slug":"electro"},{"id":62,"name":"Funky
        Breaks","slug":"funky-breaks"},{"id":63,"name":"Hardcore Breaks","slug":"hardcore-breaks"},{"id":36,"name":"Nu
        Skool","slug":"nu-skool"},{"id":38,"name":"Progressive","slug":"progressive"},{"id":96,"name":"Psybreaks","slug":"psybreaks"}]}]}'
  recorded_at: Sat, 06 Apr 2013 17:40:37 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?id=9999999&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":0,"count":0},"results":[]}'
  recorded_at: Sat, 06 Apr 2013 17:40:37 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[]},{"id":10,"name":"Chill
        Out","type":"genre","slug"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-ste[...]
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7&perPage=50"},{"value":100,"applyQuery":"id=7&perPage=100"},{"value":150,"applyQuery":"id=7&perPage=150"}],"facets":{"fields":[]},"spellcheck":null,"date":"2013-04-06"},"results":[{"id":4238238,"selected":false,"type":"track","sku":"track-4238238","name":"The
        Light","trackNumber":1,"active":true,"mixName":"Original Mix","title":"The
        Light (Original Mix)","slug":"the-light-original-mix","isrc":"NLF711302112","releaseDate":"2013-03-25","publishDate":"2013-03-25","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/4238238.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume4\/items\/4000000\/200000\/30000\/8000\/200\/30\/4238238.LOFI","exclusive":true,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4238238.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume4\/items\/4000000\/200000\/30000\/8000\/200\/30\/4238238.LOFI","offset":{"start":"139248","end":"259248"}},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4238238.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/volume4\/items\/4000000\/200000\/30000\/8000\/200\/30\/4238238.LOFI","offset":{"start":"139248","end":"259248"}}},"price":{"code":"usd","symbol":"US$","value":249,"display":"US$2.49"},"audioFormatFee":{"wav":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"},"aiff":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"},"aiff":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"}},"purchasable":true,"currentStatus":"Exclusive","length":"5:48","lengthMs":348122,"bpm":128,"key":{"standard":{"letter":"B","sharp":false,"flat":false,"chord":"minor"},"shortName":"Bmin"},"saleType":"purchase","artists":[{"id":64311,"name":"Omnia","slug":"omnia","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":165827,"position":8,"type":"chart"},{"id":165839,"position":5,"type":"chart"},{"id":165868,"position":1,"type":"chart"},{"id":165333,"position":2,"type":"chart"},{"id":165993,"position":2,"type":"chart"},{"id":166287,"position":1,"type":"chart"},{"id":167042,"position":1,"type":"chart"},{"id":167156,"position":4,"type":"chart"},{"id":167561,"position":3,"type":"chart"},{"id":167604,"position":1,"type":"chart"},{"id":167777,"position":10,"type":"chart"},{"id":168445,"position":9,"type":"chart"},{"id":168488,"position":10,"type":"chart"},{"id":168589,"position":3,"type":"chart"},{"id":169488,"position":2,"type":"chart"},{"id":169568,"position":1,"type":"chart"}],"release":{"id":1058636,"name":"The
        Light","type":"release","slug":"the-light"},"label":{"id":911,"name":"Coldharbour
        Recordings (Armada)","type":"label","slug":"coldharbour-recordings-armada","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/7083627.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7083627.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/7083628.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7083628.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/7083629.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7083629.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/7083635.png","secureUrl":"https:\/\/media.beatport.com\/image\/7083635.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/7083629.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/7083635.png"}},"position":1},{"id":4248044,"selected":false,"type":"track","sku":"track-4248044","name":"Lights","trackNumber":1,"active":true,"mixName":"Club
        Mix","title":"Lights (Club Mix)","slug":"lights-club-mix","isrc":"HUB921300001","releaseDate":"2013-03-25","publishDate":"2013-03-25","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi[...]
