---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","type":"genre","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Fri, 08 Feb 2013 20:58:42 GMT
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=trance&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":0,"count":0},"results":[]}'
  recorded_at: Tue, 09 Jul 2013 02:27:40 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=breaks&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-step"},{"id":37,"name":"Acid","slug":"acid"},{"id":33,"name":"Big
        Beat","slug":"big-beat"},{"id":35,"name":"Electro","slug":"electro"},{"id":62,"name":"Funky
        Breaks","slug":"funky-breaks"},{"id":63,"name":"Hardcore Breaks","slug":"hardcore-breaks"},{"id":36,"name":"Nu
        Skool","slug":"nu-skool"},{"id":38,"name":"Progressive","slug":"progressive"},{"id":96,"name":"Psybreaks","slug":"psybreaks"}]}]}'
  recorded_at: Tue, 09 Jul 2013 02:27:41 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?id=9999999&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":0,"count":0},"results":[]}'
  recorded_at: Tue, 09 Jul 2013 02:27:41 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[][...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks",[...]
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7&perPage=50"},{"value":100,"applyQuery":"id=7&perPage=100"},{"value":150,"applyQuery":"id=7&perPage=150"}],"facets":{"fields":[]},"spellcheck":null,"date":"2013-07-08"},"results":[{"id":4490580,"selected":false,"type":"track","sku":"track-4490580","name":"Iris","trackNumber":1,"active":true,"mixName":"Original
        Mix","title":"Iris (Original Mix)","slug":"iris-original-mix","isrc":"GBEWA1300370","releaseDate":"2013-07-01","publishDate":"2013-07-01","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/4490580.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume3\/items\/4000000\/400000\/90000\/0\/500\/80\/4490580.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4490580.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume3\/items\/4000000\/400000\/90000\/0\/500\/80\/4490580.LOFI","offset":{"start":123000,"end":243000}},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4490580.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/4\/a\/d\/4490580.LOFI","offset":{"start":123000,"end":243000}}},"price":{"code":"usd","symbol":"$","value":199,"display":"$1.99"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"purchasable":true,"currentStatus":"New
        Release","length":"5:07","lengthMs":307500,"bpm":128,"key":{"standard":{"letter":"A","sharp":false,"flat":false,"chord":"major"},"shortName":"Amaj"},"saleType":"purchase","artists":[{"id":121217,"name":"Audien","slug":"audien","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":192927,"position":1,"type":"chart"},{"id":192969,"position":7,"type":"chart"},{"id":192975,"position":3,"type":"chart"},{"id":192979,"position":7,"type":"chart"},{"id":193243,"position":5,"type":"chart"},{"id":193345,"position":10,"type":"chart"},{"id":193421,"position":9,"type":"chart"},{"id":193446,"position":2,"type":"chart"},{"id":193460,"position":1,"type":"chart"},{"id":193680,"position":1,"type":"chart"},{"id":193889,"position":4,"type":"chart"},{"id":194440,"position":10,"type":"chart"},{"id":194574,"position":7,"type":"chart"},{"id":194906,"position":2,"type":"chart"},{"id":194905,"position":3,"type":"chart"},{"id":194923,"position":7,"type":"chart"},{"id":194995,"position":2,"type":"chart"},{"id":195015,"position":9,"type":"chart"}],"release":{"id":1111811,"name":"Iris","type":"release","slug":"iris"},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/7635759.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7635759.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/7635760.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7635760.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/7635761.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7635761.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/7635773.png","secureUrl":"https:\/\/media.beatport.com\/image\/7635773.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/7635761.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/7635773.png"}},"position":1},{"id":4486040,"selected":false,"type":"track","sku":"track-4486040","name":"Bulldozer","trackNumber":1,"active":true,"mixName":"Original
        Mix","title":"Bulldozer (Original Mix)","slug":"bulldozer-original-mix","isrc":"NLF711306921","releaseDate":"2013-07-01","publishDate":"2013-07-01","sampleUrl":"http:\/\/geo-sampl[...]
