---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7&perPage=50"},{"value":100,"applyQuery":"id=7&perPage=100"},{"value":150,"applyQuery":"id=7&perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2012-12-22"},"results":[{"id":3963365,"selected":false,"type":"track","sku":"track-3963365","name":"Rewind","trackNumber":1,"active":true,"mixName":"Mikkas
        Remix","title":"Rewind (Mikkas Remix)","slug":"rewind-mikkas-remix","isrc":"NLF711207134","releaseDate":"2012-12-03","publishDate":"2012-12-03","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/3963365.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/3000000\/900000\/60000\/3000\/300\/60\/3963365.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/3963365.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/3000000\/900000\/60000\/3000\/300\/60\/3963365.LOFI"},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/3963365.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/volume7\/items\/3000000\/900000\/60000\/3000\/300\/60\/3963365.LOFI"}},"price":{"code":"usd","symbol":"$","value":199},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"New
        Release","length":"6:02","bpm":128,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":53720,"name":"Mikkas","slug":"mikkas","type":"remixer"},{"id":105228,"name":"Emma
        Hewitt","slug":"emma-hewitt","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":133686,"position":4,"type":"chart"},{"id":133734,"position":4,"type":"chart"},{"id":134047,"position":2,"type":"chart"},{"id":134049,"position":2,"type":"chart"},{"id":134159,"position":2,"type":"chart"},{"id":134303,"position":2,"type":"chart"},{"id":134359,"position":3,"type":"chart"},{"id":134639,"position":1,"type":"chart"},{"id":134816,"position":5,"type":"chart"},{"id":134856,"position":2,"type":"chart"},{"id":134865,"position":8,"type":"chart"},{"id":135043,"position":2,"type":"chart"},{"id":133817,"positi[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","type":"genre","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Sat, 22 Dec 2012 21:48:15 GMT
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[]},{"id":10,"name":"Chill
        Out","type":"genre","slug"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-ste[...]
