---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?id=7&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":7,"name":"Trance","type":"genre","slug":"trance","subgenres":[{"id":28,"name":"Acid","slug":"acid"},{"id":30,"name":"Epic","slug":"epic"},{"id":31,"name":"Hard","slug":"hard"},{"id":27,"name":"Progressive","slug":"progressive"},{"id":29,"name":"Tech","slug":"tech"},{"id":26,"name":"Tribal","slug":"tribal"}]}]}'
  recorded_at: Wed, 14 Aug 2013 22:51:32 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2","perPageOptions":[{"value":50,"applyQuery":"id=7&perPage=50"},{"value":100,"applyQuery":"id=7&perPage=100"},{"value":150,"applyQuery":"id=7&perPage=150"}],"facets":{"fields":[]},"spellcheck":null,"date":"2013-08-14"},"results":[{"id":4611652,"selected":false,"type":"track","sku":"track-4611652","name":"Wings
        feat. Taylr Renee","trackNumber":1,"active":true,"mixName":"Myon & Shane 54
        Summer Of Love Mix","title":"Wings feat. Taylr Renee (Myon & Shane 54 Summer
        Of Love Mix)","slug":"wings-feat-taylr-renee-myon-and-shane-54-summer-of-love-mix","isrc":"USUS11201961","releaseDate":"2013-08-02","publishDate":"2013-08-02","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/4611652.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":false,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume3\/items\/4000000\/600000\/10000\/1000\/600\/50\/4611652.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4611652.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume3\/items\/4000000\/600000\/10000\/1000\/600\/50\/4611652.LOFI","offset":{"start":145649,"end":265649}},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4611652.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/5\/9\/0\/4611652.LOFI","offset":{"start":145649,"end":265649}}},"price":{"code":"usd","symbol":"$","value":199,"display":"$1.99"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"purchasable":true,"currentStatus":"New
        Release","length":"6:04","lengthMs":364123,"bpm":130,"key":{"standard":{"letter":"A","sharp":false,"flat":false,"chord":"major"},"shortName":"Amaj"},"saleType":"purchase","artists":[{"id":61954,"name":"Myon
        & Shane 54","slug":"myon-and-shane-54","type":"remixer"},{"id":294939,"name":"Tom
        Swoon","slug":"tom-swoon","type":"artist"},{"id":345505,"name":"Taylr Renee","slug":"taylr-renee","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":205339,"position":10,"type":"chart"},{"id":205624,"position":4,"type":"chart"},{"id":206006,"position":1,"type":"chart"},{"id":206021,"position":8,"type":"chart"},{"id":206232,"position":5,"type":"chart"},{"id":206376,"position":8,"type":"chart"},{"id":206441,"position":1,"type":"chart"},{"id":207147,"position":3,"type":"chart"},{"id":207416,"position":1,"type":"chart"},{"id":207448,"position":4,"type":"chart"},{"id":207677,"position":1,"type":"chart"},{"id":207707,"position":4,"type":"chart"},{"id":207718,"position":6,"type":"chart"}],"release":{"id":1137351,"name":"Wings
        - Remixes","type":"release","slug":"wings-remixes"},"label":{"id":907,"name":"Ultra","type":"label","slug":"ultra","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/7905436.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7905436.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/7905437.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7905437.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/7905438.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/7905438.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/7905446.png","secureUrl":"https:\/\/media.beatport.com\/image\/7905446.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/7905438.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/7905446.png"}},"position":1},{"id":4578857,"selected":false,"type":"track","sku":"track-4578857","name":"Who''s
        Afraid Of 138?!","trackNumber":1,"active":true,"mixName":"Photographer Remix","title":"Who''s
        Afraid Of 138?! (Photographer Remix)","slug":"whos-afraid-of-138-!-photographer-remix","isrc":"NLF711306491","releaseDate":"2013-08[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=trance&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":0,"count":0},"results":[]}'
  recorded_at: Wed, 14 Aug 2013 22:51:33 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?slug=breaks&subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":1,"count":1},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[{"id":34,"name":"2
        Step","slug":"2-step"},{"id":37,"name":"Acid","slug":"acid"},{"id":33,"name":"Big
        Beat","slug":"big-beat"},{"id":35,"name":"Electro","slug":"electro"},{"id":62,"name":"Funky
        Breaks","slug":"funky-breaks"},{"id":63,"name":"Hardcore Breaks","slug":"hardcore-breaks"},{"id":36,"name":"Nu
        Skool","slug":"nu-skool"},{"id":38,"name":"Progressive","slug":"progressive"},{"id":96,"name":"Psybreaks","slug":"psybreaks"}]}]}'
  recorded_at: Wed, 14 Aug 2013 22:51:33 GMT
[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks","subgenres":[][...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/genres?subgenres=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"perPage":23,"count":23},"results":[{"id":9,"name":"Breaks","type":"genre","slug":"breaks",[...]
