---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/item-types?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"count":18,"perPage":18},"results":[{"id":1,"name":"track","defaultPrice":null,"audioFormats":[{"id":1,"name":"mp3","mimeType":{"id":367,"header":"audio\/mpeg","ext":"mp3"}},{"id":2,"name":"m4a","mimeType":{"id":518,"header":"audio\/mp4","ext":"m4a"}},{"id":3,"name":"wav","mimeType":{"id":11,"header":"audio\/x-wav","ext":"wav"}},{"id":4,"name":"zip","mimeType":{"id":354,"header":"application\/zip","ext":"zip"}},{"id":14,"name":"aiff","mimeType":{"id":10,"header":"audio\/x-aiff","ext":"aiff"}}]},{"id":2,"name":"release","defaultPrice":null,"audioFormats":[]},{"id":3,"name":"label","defaultPrice":null,"audioFormats":[]},{"id":4,"name":"person","defaultPrice":n[...]
