---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":false,"page":1,"perPage":10,"count":22434,"totalPages":2244,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":3,"type":"label","name":"12
        Inch Thumpers","slug":"12-inch-thumpers","active":true,"lastPublishDate":"2010-09-15","biography":"","genres":[{"id":8,"name":"Hard
        Dance","slug":"hard-dance","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"},{"id":16,"name":"DJ Tools","slug":"dj-tools","type":"genre"},{"id":6,"name":"Techno","slug":"techno","type":"genre"},{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":2,"name":"Hardcore
        \/ Hard Techno","slug":"hardcore-hard-techno","type":"genre"}],"subGenres":[{"id":18,"name":"Disco","slug":"disco","type":"subgenre"},{"id":46,"name":"Acapellas","slug":"acapellas","type":"subgenre"},{"id":17,"name":"Vocal
        House","slug":"vocal-house","type":"subgenre"},{"id":29,"name":"Tech","slug":"tech","type":"subgenre"},{"id":31,"name":"Hard","slug":"hard","type":"subgenre"}],"displayLevel":1,"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/2215.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/2215.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/2.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/2.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5539566.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5539566.jpg"},"banner":{"width":592,"height":96,"url":"http:\/\/geo-media.beatport.com\/image\/37199.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/37199.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/2.jpg"}}},{"id":5,"type":"label","name":"24seven","slug":"24seven","active":true,"lastPublishDate":"2007-05-15","biography":"","genres":[{"id":5,"name":"House","slug":"house","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"},{"id":17,"name":"Electro
        House","slug":"electro-house","type":"genre"},{"id":3,"name":"Electronica","slug":"electronica","type":"genre"}],"subGenres":[{"[...]
