---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?id=1390
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"id=1390","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=1390&perPage=50"},{"value":100,"applyQuery":"id=1390&perPage=100"},{"value":150,"applyQuery":"id=1390&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":1390,"type":"label","name":"Anjunadeep","slug":"anjunadeep","active":true,"lastPublishDate":"2012-12-17","biography":"","genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"},{"id":17,"name":"Electro
        House","slug":"electro-house","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"},{"id":9,"name":"Breaks","slug":"breaks","type":"genre"},{"id":11,"name":"Tech
        House","slug":"tech-house","type":"genre"},{"id":3,"name":"Electronica","slug":"electronica","type":"genre"},{"id":1,"name":"Drum
        & Bass","slug":"drum-and-bass","type":"genre"},{"id":10,"name":"Chill Out","slug":"chill-out","type":"genre"},{"id":12,"name":"Deep
        House","slug":"deep-house","type":"genre"},{"id":6,"name":"Techno","slug":"techno","type":"genre"},{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":91,"name":"ProgNo","slug":"progno","type":"subgenre"},{"id":24,"name":"Melodic","slug":"melodic","type":"subgenre"}],"mixCount":172,"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/3406.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3406.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/1191.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/1191.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5539566.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5539566.jpg"},"banner":{"width":592,"height":96,"url":"http:\/\/geo-media.beatport.com\/image\/345152.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/345152.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1191.jpg"}}}]}'
  recorded_at: Fri, 08 Feb 2013 20:58:48 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?facets=labelName%3AAnjunadeep
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"facets%5B0%5D=labelName%3AAnjunadeep","page":1,"perPage":10,"count":1,"totalPages"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":false,"page":1,"perPage":10,"count":24283,"totalPages":2429,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":3,"type":"label","name":"12
        Inch Thumpers","slug":"12-inch-thumpers","active":true,"lastPublishDate":"2010-09-15","biography":"","genres":[{"id":8,"name":"Hard
        Dance","slug":"hard-dance","type":"genre"},{"id":5,"name":"House","slug":"house","t[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"perPage=5","page":1,"perPage":5,"count":24283,"totalPages":4857,"nextQuery":"perPage=5&page=2",[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?sortBy=publishDate%20asc%2ClabelId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"sortBy=publishDate+asc%2ClabelId+asc&genreId[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":24283,"totalPages":2429,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":10641,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":10185,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Techno","count":9133,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","removeQuery":null},{"name":"Progressive
        House","count":7788,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQ[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?facets=genreName%3ATrance%2CgenreName%3AProgessive%20House
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+House","page":1,"perPage":10,"count":0,"totalPages":0,"perPageOptions":[{"value":50,"applyQuery":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+House&perPage=50"},{"value":100,"applyQuery":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+House&perPage=100"},{"value":150,"applyQuery":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+House&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[]}'
  recorded_at: Fri, 08 Feb 2013 20:58:51 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?facets=labelName:Anjunadeep
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"facets%5B0%5D=labelName%3AAnjunadeep","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"facets%5B0%5D=labelName%3AAnjunadeep&perPage=50"},{"value":100,"applyQuery":"facets%5B0%5D=labelName%3AAnjunadeep&perPage=100"},{"value":150,"applyQuery":"facets%5B0%5D=labelName%3AAnjunadeep&perPage=150"}],"facets":{"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?page=1&perPage=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"perPage=5","page":1,"perPage":5,"count":24283,"totalPages":4857,"nextQuery":"perPage=5&page=2",[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?genreId=5&page=1&perPage=5&sortBy=publishDate%20asc,labelId%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"sortBy=publishDate+asc%2ClabelId+asc&genreId=5[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?returnFacets=genreName,performerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":24283[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/labels?facets=genreName:Trance,genreName:Progessive%20House
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/labels","query":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+House","page":1,"perPage":10,"count":0,"totalPages":0,"perPageOptions":[{"value":50,"applyQuery":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+House&perPage=50"},{"value":100,"applyQuery":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+House&perPage=100"},{"value":150,"applyQuery":"facets%5B0%5D=genreName%3ATrance%2CgenreName%3AProgessive+House&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[]}'
  recorded_at: Fri, 08 Feb 2013 21:07:09 GMT
recorded_with: VCR 2.4.0
