---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/mixed?labelIds[]=804&labelIds[]=1390&artistIds[]=7181&artistIds[]=10395&chartIds[]=15722&chartIds[]=29514&releaseIds[]=164808&releaseIds[]=385763&trackIds[]=1873426&trackIds[]=1746687
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/mixed","query":"labelIds%5B0%5D=804&labelIds%5B1%5D=1390&artistIds%5B0%5D=7181&artistIds%5B1%5D=10395&chartIds%5B0%5D=15722&chartIds%5B1%5D=29514&releaseIds%5B0%5D=164808&releaseIds%5B1%5D=385763&trackIds%5B0%5D=1873426&trackIds%5B1%5D=1746687","page":1,"perPage":10,"count":10,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"labelIds%5B0%5D=804&labelIds%5B1%5D=1390&artistIds%5B0%5D=7181&artistIds%5B1%5D=10395&chartIds%5B0%5D=15722&chartIds%5B1%5D=29514&releaseIds%5B0%5D=164808&releaseIds%5B1%5D=385763&trackIds%5B0%5D=1873426&trackIds%5B1%5D=1746687&perPage=50"},{"value":100,"applyQuery":"labelIds%5B0%5D=804&labelIds%5B1%5D=1390&artistIds%5B0%5D=7181&artistIds%5B1%5D=10395&chartIds%5B0%5D=15722&chartIds%5B1%5D=29514&releaseIds%5B0%5D=164808&releaseIds%5B1%5D=385763&trackIds%5B0%5D=1873426&trackIds%5B1%5D=1746687&perPage=100"},{"value":150,"applyQuery":"labelIds%5B0%5D=804&labelIds%5B1%5D=1390&artistIds%5B0%5D=7181&artistIds%5B1%5D=10395&chartIds%5B0%5D=15722&chartIds%5B1%5D=29514&releaseIds%5B0%5D=164808&releaseIds%5B1%5D=385763&trackIds%5B0%5D=1873426&trackIds%5B1%5D=1746687&perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]}},"results":[{"id":804,"type":"label","name":"Anjunabeats","slug":"anjunabeats","active":true,"lastPublishDate":"2012-10-08","biography":"","genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":10,"name":"Chill
        Out","slug":"chill-out","type":"genre"},{"id":15,"name":"Progressive House","slug":"progressive-house","type":"genre"},{"id":9,"name":"Breaks","slug":"breaks","type":"genre"},{"id":3,"name":"Electronica","slug":"electronica","type":"genre"},{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"},{"id":16,"name":"DJ
        Tools","slug":"dj-tools","type":"genre"},{"id":17,"name":"Electro House","slug":"electro-house","type":"genre"},{"id":14,"name":"Minimal","slug":"minimal","type":"genre"},{"id":11,"name":"Tech
        House","slug":"tech-house","type":"genre"},{"id":1,"name":"Drum & Bass","slug":"drum-and-bass","type":"genre"},{"id":49,"name":"Glitch
        Hop","slug":"glitch-hop","type":"genre"},{"id":12,"name":"Deep House","slug":"deep-house","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":30,"name":"Epic","slug":"epic","type":"subgenre"},{"id":38,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":29,"name":"Tech","slug":"tech","type":"subgenre"},{"id":46,"name":"Acapellas","slug":"acapellas","type":"subgenre"},{"id":26,"name":"Tribal","slug":"tribal","type":"subgenre"},{"id":39,"name":"Downtempo","slug":"downtempo","type":"subgenre"}],"displayLevel":1,"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/2855.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/2855.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/642.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/642.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5539566.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5539566.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/642.jpg"}}},{"id":1390,"type":"label","name":"Anjunadeep","slug":"anjunadeep","active":true,"lastPublishDate":"2012-09-10","biography":"","genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"},{"id":17,"name":"Electro
        House","slug":"electro-house","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"},{"id":9,"name":[...]
