---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?id=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"id=164808","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=164808&perPage=50"},{"value":100,"applyQuery":"id=164808&perPage=100"},{"value":150,"applyQuery":"id=164808&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-08-14","endDate":"2013-08-14","applyQuery":"id=164808&publishDateStart=2013-08-14&publishDateEnd=2013-08-14","applied":false},{"name":"yesterday","startDate":"2013-08-13","endDate":"2013-08-14","applyQuery":"id=164808&publishDateStart=2013-08-13&publishDateEnd=2013-08-14","applied":false},{"name":"weekToDate","startDate":"2013-08-07","endDate":"2013-08-14","applyQuery":"id=164808&publishDateStart=2013-08-07&publishDateEnd=2013-08-14","applied":false},{"name":"monthToDate","startDate":"2013-07-14","endDate":"2013-08-14","applyQuery":"id=164808&publishDateStart=2013-07-14&publishDateEnd=2013-08-14","applied":false},{"name":"yearToDate","startDate":"2012-08-14","endDate":"2013-08-14","applyQuery":"id=164808&publishDateStart=2012-08-14&publishDateEnd=2013-08-14","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=164808"}],"spellcheck":null},"results":[{"id":164808,"type":"release","sku":"release-164808","name":"Anjunabeats
        Volume 6 (Unmixed - DJ Ready)","slug":"anjunabeats-volume-6-unmixed-dj-ready","active":true,"releaseDate":"2009-04-06","publishDate":"2009-04-06","exclusive":false,"category":"Album","currentStatus":"General
        Content","catalogNumber":"ANJCDCO011D","purchasable":true,"price":{"code":"usd","symbol":"$","value":999,"display":"$9.99"},"tracksPrice":{"code":"usd","symbol":"$","value":4321,"display":"$43.21"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":2175,"display":"$21.75"},"aiff":{"code":"usd","symbol":"$","value":2175,"display":"$21.75"}},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats"},"artists":[{"id":17030,"name":"Paul
        Keeley","slug":"paul-keeley","type":"artist"},{"id":35216,"name":"Komytea","slug":"komytea","type":"artist"},{"id":6669,"name":"Signalrunners","slug":"signalrunners","type":"artist"},{"id":22052,"name":"Joonas
        Hahmo","slug":"joonas-hahmo","type":"artist"},{"id":24276,"name":"PROFF","slug":"proff","type":"artist"},{"id":8998,"name":"Jaytech","slug":"jaytech","type":"artist"},{"id":16498,"name":"Johan
        Vermeulen","slug":"johan-vermeulen","type":"art[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":false,"page":1,"perPage":10,"count":600435,"totalPages":60044,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-08-14","endDate":"2013-08-14","applyQuery":"publishDateStart=2013-08-14&publishDateEnd=2013-08-14","applied":false},{"name":"yesterday","startDate":"2013-08-13","endDate":"2013-08-14","applyQuery":"publishDateStart=2013-08-13&publishDateEnd=2013-08-14","applied":false},{"name":"weekToDate","startDate":"2013-08-07","endDate":"2013-08-14","applyQuery":"publishDateStart=2013-08-07&publishDateEnd=2013-08-14","applied":false},{"name":"monthToDate","startDate":"2013-07-14","endDate":"2013-08-14","applyQuery":"publishDateStart=2013-07-14&publishDateEnd=2013-08-14","applied":false},{"name":"yearToDate","startDate":"2012-08-14","endDate":"2013-08-14","applyQuery":"publishDateStart=2012-08-14&publishDateEnd=2013-08-14","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":""}],"spellcheck":null},"results":[{"id":103230,"type":"release","sku":"release-103230","name":"The
        EP Series Vol. 3","slug":"the-ep-series-vol-3","active":true,"releaseDate":"2008-03-20","publishDate":"2008-03-20","exclusive":false,"category":"Release","description":"after
        releases on COCOON here is a brilliant EP Series from Denis Rusnak on Gastspiel.","currentStatus":"General
        Content","catalogNumber":"GSPD005","purchasable":true,"price":{"code":"usd","symbol":"$","value":596,"display":"$5.96"},"tracksPrice":{"code":"usd","symbol":"$","value":596,"display":"$5.96"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":300,"display":"$3.00"},"aiff":{"code":"usd","symbol":"$","value":300,"display":"$3.00"}},"label":{"id":2615,"name":"Gastspiel
        Records","type":"label","slug":"gastspiel-records"},"artists":[{"id":13636,"name":"Denis
        Rusnak","slug":"denis-rusnak","type":"artist"}],"genres":[{"id":6,"name":"Techno","slug":"techno","type":"genre"},{"id":12,"name":"Deep
        House","slug":"deep-house","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/219991.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/219991.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/219992.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/219992.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/219992.jpg"}}},{"id":107472,"type":"release","sku":"release-107472","name":"The
        EP Series Vol. 4","slug":"the-ep-series-vol-4","active":true,"releaseDate":"2008-04-15","publishDate":"2008-04-15","exclusive":false,"category":"Release","description":"","currentStatus":"General
        Content","catalogNumber":"GSPDIGI007","purchasable":true,"price":{"code":"usd","symbol":"$","value":447,"display":"$4.47"},"tracksPrice":{"code":"u[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?page=1&perPage=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"perPage=5","page":1,"perPage":5,[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?genreId=5&page=1&perPage=5&sortBy=publishDate%20asc,releaseId%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?returnFacets=genreName,performerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":600435,"totalPages":60044,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":121001,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":120821,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Progressive
        House","count":98212,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Techno","count":96982,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","remo[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?facets=genreName:Trance,performerName:Above%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":59},"results":[{"id":1137370,"type":"release","sku":"release-1137370","name":"Dreams\/Lucid","s[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?genreId=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":33},"results":[{"id":1137491,"type":"release","sku":"release-1137491","name":"Under
  [...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?genreId=7&justAdded=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":33},"results":[{"id":1137491,"type":"release","sku":"release-1137491","[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?releaseId=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"releaseId=164808","page":1,"perPage"[...]
