---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"perPage=5","page":1,"perPage":5,"count":513255,"totalPages":102651,"nextQuery":"perPage=5&page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-02-08","endDate":"2013-02-08","applyQuery":"perPage=5&publishDateStart=2013-02-08&publishDateEnd=2013-02-08","applied":false},{"name":"yesterday","startDate":"2013-02-07","endDate":"2013-02-08","applyQuery":"perPage=5&publishDateStart=2013-02-07&publishDateEnd=2013-02-08","applied":false},{"name":"weekToDate","startDate":"2013-02-01","endDate":"2013-02-08","applyQuery":"perPage=5&publishDateStart=2013-02-01&publishDateEnd=2013-02-08","applied":false},{"name":"monthToDate","startDate":"2013-01-08","endDate":"2013-02-08","applyQuery":"perPage=5&publishDateStart=2013-01-08&publishDateEnd=2013-02-08","applied":false},{"name":"yearToDate","startDate":"2012-02-08","endDate":"2013-02-08","applyQuery":"perPage=5&publishDateStart=2012-02-08&publishDateEnd=2013-02-08","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"perPage=5"}],"spellcheck":{"suggestions":[]}},"results":[{"id":34,"type":"release","sku":"release-34","name":"Don''t
        Cross The Line","slug":"dont-cross-the-line","active":true,"releaseDate":"2000-03-28","publishDate":"2000-03-28","exclusive":false,"category":"Release","description":"","currentStatus":"General
        Content","catalogNumber":"THM001","purchasable":true,"price":{"code":"usd","symbol":"$","value":149},"tracksPrice":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75},"aiff":{"code":"usd","symbol":"$","value":75}},"label":{"id":3,"name":"12
        Inch Thumpers","type":"label","slug":"12-inch-thumpers"},"artists":[{"id":1,"name":"12
        Inch Thumpers","slug":"12-inch-thumpers","type":"artist"}],"genres":[{"id":8,"name":"Hard
        Dance","slug":"hard-dance","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/6158614.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6158614.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/6158615.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6158615.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/6158616.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6158616.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/6158616.jpg"}}},{"id":35,"type":"release","sku":"release-35","name":"Don''t
        Cross The LIne (Remixes)","slug":"dont-cross-the-line-remixes","active":true,"releaseDate":"2000-11-20","publishDate":"2000-11-20","exclusive":false,"category":"Release","description":"","currentStatus":"General
        Content","catalogNumber":"THM012","purchasable":true,"price":{"code":"usd","symbol":"$","value":298},"tracksPrice":{"code":"usd","symbo[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?sortBy=publishDate%20asc%2CreleaseId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"sortBy=publishDate+asc%2CreleaseId+asc[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":513255,"totalPages":51326,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":106587,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":105298,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Progressive
        House","count":87450,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Techno","count":85029,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","remo[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?facets=genreName%3ATrance%2CperformerName%3AAbove%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"facets%5B0%5D=genreName%3ATrance%2Cperforme[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":false,"page":1,"perPage":10,"count":538925,"totalPages":53893,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-04-06","endDate":"2013-04-06","a[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?page=1&perPage=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"perPage=5","page":1,"perPage":5,"count":538925,"totalPages":107785,"nextQuery":"perPage=5&p[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?genreId=5&page=1&perPage=5&sortBy=publishDate%20asc,releaseId%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"sortBy=publishDate+asc%2CreleaseId+asc&g[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?returnFacets=genreName,performerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":5[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?facets=genreName:Trance,performerName:Above%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"facets%5B0%5D=genreName%3ATrance%2CperformerName%[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":70},"results":[{"id":1065963,"type":"release","sku":"release-1065963","name":"If
        I Lose Myself (Alesso vs. OneRepublic Extended Remix)","slug":"if-i-lose-myself-alesso-vs-onerepublic-extended-remix","active":true,"releaseDate":"2013-04-02","publishDate":"2013-04-02","exclusive":true,"category":"Release","description":"","currentStatus":"Exclusive","catalogNumber":"00602537373499","purchasable":true,"price":{"code":"usd","symbol":"US$","value":249,"display":"US$2.49"},"tracksPrice":{"code":"usd","symbol":"US$","value":249,"display":"US$2.49"},"audioFormatFee":{"wav":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"},"aiff":{"code":"usd","symbol":"US$","value":75,"display":"US$0.75"}},"label":{"id":31987,"name":"Mosley
        Music \/ Interscope Records","type":"label","slug":"mosley-music-interscope-records"},"artists":[{"id":136838,"name":"Alesso","slug":"alesso","type":"artist"},{"id":244572,"name":"OneRepublic","slug":"onerepublic","t[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?genreId=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":27},"results":[{"id":1062896,"type":"release","sku":"release-1062896","name":"Aurora
        \/ Metro","slug":"aurora-metro","active":true,"relea[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?genreId=7&justAdded=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":27},"results":[{"id":1062896,"type":"release","sku":"release-1062896","name":"Aurora
        \/ Metro","slug":"aurora-metro","acti[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?id=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"id=164808","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuer[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?releaseId=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"releaseId=164808","page":1,"perPage":10,"count":29,"totalPages":3,"nextQuery":"releaseId=164808[...]
