---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":false,"page":1,"perPage":10,"count":496730,"totalPages":49673,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-12-22","endDate":"2012-12-22","applyQuery":"publishDateStart=2012-12-22&publishDateEnd=2012-12-22","applied":false},{"name":"yesterday","startDate":"2012-12-21","endDate":"2012-12-22","applyQuery":"publishDateStart=2012-12-21&publishDateEnd=2012-12-22","applied":false},{"name":"weekToDate","startDate":"2012-12-15","endDate":"2012-12-22","applyQuery":"publishDateStart=2012-12-15&publishDateEnd=2012-12-22","applied":false},{"name":"monthToDate","startDate":"2012-11-22","endDate":"2012-12-22","applyQuery":"publishDateStart=2012-11-22&publishDateEnd=2012-12-22","applied":false},{"name":"yearToDate","startDate":"2011-12-22","endDate":"2012-12-22","applyQuery":"publishDateStart=2011-12-22&publishDateEnd=2012-12-22","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":""}],"spellcheck":{"suggestions":[]}},"results":[{"id":34,"type":"release","sku":"release-34","name":"Don''t
        Cross The Line","slug":"dont-cross-the-line","active":true,"releaseDate":"2000-03-28","publishDate":"2000-03-28","exclusive":false,"category":"Release","description":"","currentStatus":"General
        Content","catalogNumber":"THM001","purchasable":true,"price":{"code":"usd","symbol":"$","value":149},"tracksPrice":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"label":{"id":3,"name":"12
        Inch Thumpers","type":"label","slug":"12-inch-thumpers"},"artists":[{"id":1,"name":"12
        Inch Thumpers","slug":"12-inch-thumpers","type":"artist"}],"genres":[{"id":8,"name":"Hard
        Dance","slug":"hard-dance","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/6158614.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6158614.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/6158615.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6158615.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/6158616.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/6158616.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/6158616.jpg"}}},{"id":35,"type":"release","sku":"release-35","name":"Don''t
        Cross The LIne (Remixes)","slug":"dont-cross-the-line-remixes","active":true,"releaseDate":"2000-11-20","publishDate":"2000-11-20","exclusive":false,"category":"Release","description":"","currentStatus":"General
        Content","catalogNumber":"THM012","purchasable":true,"price":{"code":"usd","symbol":"$","value":298},"tracksPrice":{"code":"usd","symbo[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"perPage=5","page":1,"perPage":5,"count":496730,"totalPages":99346,"nextQuery":"perPage=5&pa[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?sortBy=publishDate%20asc%2CreleaseId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"sortBy=publishDate+asc%2CreleaseId+asc[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":496730,"totalPages":49673,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":104181,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":102428,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Progressive
        House","count":85546,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Techno","count":82747,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","remo[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?facets=genreName%3ATrance%2CperformerName%3AAbove%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"facets%5B0%5D=genreName%3ATrance%2Cperforme[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":50},"results":[{"id":1009971,"type":"release","sku":"release-1009971","name":"Black
        Thong","slug":"black-thong","active":true,"releaseDate":"2012-[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?genreId=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":24},"results":[{"id":1006223,"type":"release","sku":"release-1006223","name":"DUI","slug":"dui","active":true,"releaseDate":"2012-12-17","publish[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?genreId=7&justAdded=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":24},"results":[{"id":1006223,"type":"release","sku":"release-1006223","name":"DUI","slug":"dui","active":true,"releaseDate":"2012-[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?id=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"id=164808","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuer[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?releaseId=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"releaseId=164808","page":1,"perPage":10,"count":29,"totalPages":3,"nextQuery":"releaseId=164808[...]
