---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?id=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"id=164808","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=164808&perPage=50"},{"value":100,"applyQuery":"id=164808&perPage=100"},{"value":150,"applyQuery":"id=164808&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-10-09","endDate":"2012-10-09","applyQuery":"id=164808&publishDateStart=2012-10-09&publishDateEnd=2012-10-09","applied":false},{"name":"yesterday","startDate":"2012-10-08","endDate":"2012-10-09","applyQuery":"id=164808&publishDateStart=2012-10-08&publishDateEnd=2012-10-09","applied":false},{"name":"weekToDate","startDate":"2012-10-02","endDate":"2012-10-09","applyQuery":"id=164808&publishDateStart=2012-10-02&publishDateEnd=2012-10-09","applied":false},{"name":"monthToDate","startDate":"2012-09-09","endDate":"2012-10-09","applyQuery":"id=164808&publishDateStart=2012-09-09&publishDateEnd=2012-10-09","applied":false},{"name":"yearToDate","startDate":"2011-10-09","endDate":"2012-10-09","applyQuery":"id=164808&publishDateStart=2011-10-09&publishDateEnd=2012-10-09","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=164808"}],"spellcheck":{"suggestions":[]}},"results":[{"id":164808,"type":"release","sku":"release-164808","name":"Anjunabeats
        Volume 6 (Unmixed - DJ Ready)","slug":"anjunabeats-volume-6-unmixed-dj-ready","active":true,"releaseDate":"2009-04-06","publishDate":"2009-04-06","exclusive":false,"category":"Album","currentStatus":"General
        Content","catalogNumber":"ANJCDCO011D","purchasable":true,"price":{"code":"usd","symbol":"$","value":999},"tracksPrice":{"code":"usd","symbol":"$","value":4321},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":2900},"aiff":{"code":"usd","symbol":"$","value":2900}},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats"},"artists":[{"id":211,"name":"Andy
        Moor","slug":"andy-moor","type":"artist"},{"id":2976,"name":"Shane 54","slug":"shane-54","type":"artist"},{"id":5386,"name":"Bart
        Claessen","slug":"bart-claessen","type":"artist"},{"id":6489,"name":"OceanLab","slug":"oceanlab","type":"artist"},{"id":6669,"name":"Signalrunners","slug":"signalrunners","type":"artist"},{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"artist"},{"id":8998,"name":"Jaytech","slug":"jaytech","type":"art[...]
