---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?id=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"id=164808","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=164808&perPage=50"},{"value":100,"applyQuery":"id=164808&perPage=100"},{"value":150,"applyQuery":"id=164808&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-10-10","endDate":"2012-10-10","applyQuery":"id=164808&publishDateStart=2012-10-10&publishDateEnd=2012-10-10","applied":false},{"name":"yesterday","startDate":"2012-10-09","endDate":"2012-10-10","applyQuery":"id=164808&publishDateStart=2012-10-09&publishDateEnd=2012-10-10","applied":false},{"name":"weekToDate","startDate":"2012-10-03","endDate":"2012-10-10","applyQuery":"id=164808&publishDateStart=2012-10-03&publishDateEnd=2012-10-10","applied":false},{"name":"monthToDate","startDate":"2012-09-10","endDate":"2012-10-10","applyQuery":"id=164808&publishDateStart=2012-09-10&publishDateEnd=2012-10-10","applied":false},{"name":"yearToDate","startDate":"2011-10-10","endDate":"2012-10-10","applyQuery":"id=164808&publishDateStart=2011-10-10&publishDateEnd=2012-10-10","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=164808"}],"spellcheck":{"suggestions":[]}},"results":[{"id":164808,"type":"release","sku":"release-164808","name":"Anjunabeats
        Volume 6 (Unmixed - DJ Ready)","slug":"anjunabeats-volume-6-unmixed-dj-ready","active":true,"releaseDate":"2009-04-06","publishDate":"2009-04-06","exclusive":false,"category":"Album","currentStatus":"General
        Content","catalogNumber":"ANJCDCO011D","purchasable":true,"price":{"code":"usd","symbol":"$","value":999},"tracksPrice":{"code":"usd","symbol":"$","value":4321},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":2900},"aiff":{"code":"usd","symbol":"$","value":2900}},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats"},"artists":[{"id":211,"name":"Andy
        Moor","slug":"andy-moor","type":"artist"},{"id":2976,"name":"Shane 54","slug":"shane-54","type":"artist"},{"id":5386,"name":"Bart
        Claessen","slug":"bart-claessen","type":"artist"},{"id":6489,"name":"OceanLab","slug":"oceanlab","type":"artist"},{"id":6669,"name":"Signalrunners","slug":"signalrunners","type":"artist"},{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"artist"},{"id":8998,"name":"Jaytech","slug":"jaytech","type":"art[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":false,"page":1,"perPage":10,"count":465734,"totalPages":46574,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-10-10","endDate":"2012-10-10","applyQuery":"publishDateStart=2012-10-10&publishDateEnd=2012-10-10","applied":false},{"name":"yesterday","startDate":"2012-10-09","endDate":"2012-10-10","applyQuery":"publishDateStart=2012-10-09&publishDateEnd=2012-10-10","applied":false},{"name":"weekToDate","startDate":"2012-10-03","endDate":"2012-10-10","applyQuery":"publishDateStart=2012-10-03&publishDateEnd=2012-10-10","applied":false},{"name":"monthToDate","startDate":"2012-09-10","endDate":"2012-10-10","applyQuery":"publishDateStart=2012-09-10&publishDateEnd=2012-10-10","applied":false},{"name":"yearToDate","startDate":"2011-10-10","endDate":"2012-10-10","applyQuery":"publishDateStart=2011-10-10&publishDateEnd=2012-10-10","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":""}],"spellcheck":{"suggestions":[]}},"results":[{"id":34,"type":"release","sku":"release-34","name":"Don''t
        Cross The Line","slug":"dont-cross-the-line","active":true,"releaseDate":"2000-03-28","publishDate":"2000-03-28","exclusive":false,"category":"Release","description":"","currentStatus":"General
        Content","catalogNumber":"THM001","purchasable":true,"price":{"code":"usd","symbol":"$","value":149},"tracksPrice":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"label":{"id":3,"name":"12
        Inch Thumpers","type":"label","slug":"12-inch-thumpers"},"artists":[{"id":1,"name":"12
        Inch Thumpers","slug":"12-inch-thumpers","type":"artist"}],"genres":[{"id":8,"name":"Hard
        Dance","slug":"hard-dance","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/2215.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/2215.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/2.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/2.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/2.jpg"}}},{"id":35,"type":"release","sku":"release-35","name":"Don''t
        Cross The LIne (Remixes)","slug":"dont-cross-the-line-remixes","active":true,"releaseDate":"2000-11-20","publishDate":"2000-11-20","exclusive":false,"category":"Release","description":"","currentStatus":"General
        Content","catalogNumber":"THM012","purchasable":true,"price":{"code":"usd","symbol":"$","value":298},"tracksPrice":{"code":"usd","symbol":"$"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"perPage=5","page":1,"perPage":5,"count":465734,"totalPages":93147,"nextQuery":"perPage=5&pa[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?sortBy=publishDate%20asc%2CreleaseId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"sortBy=publishDate+asc%2CreleaseId+asc[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":465734,"totalPages":46574,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":99942,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":96155,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Progressive
        House","count":81043,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Techno","count":77756,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","remov[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/releases?facets=genreName%3ATrance%2CperformerName%3AAbove%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/releases","query":"facets%5B0%5D=genreName%3ATrance%2Cperforme[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":39},"results":[{"id":976188,"type":"release","sku":"release-976188","name":"Slipknot
        Remixes","slug":"slipknot-remixes","active":true,"releaseDate[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?genreId=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":24},"results":[{"id":978070,"type":"release","sku":"release-978070","name":"I
        Don''t Deserve You","slug":"i-dont-deserve-you","active":tr[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/featured/releases?genreId=7&justAdded=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"count":24},"results":[{"id":978070,"type":"release","sku":"release-978070","name":"I
        Don''t Deserve You","slug":"i-dont-deserve-y[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?releaseId=164808
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"releaseId=164808","page":1,"perPage":10,"count":29,"totalPages":3,"nextQuery":"releaseId=164808[...]
