---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=Archipel
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=Archipel","page":1,"perPage":10,"count":730,"totalPages":73,"nextQuery":"query=Archipel&page=2","perPageOptions":[{"value":50,"applyQuery":"query=Archipel&perPage=50"},{"value":100,"applyQuery":"query=Archipel&perPage=100"},{"value":150,"applyQuery":"query=Archipel&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":1435378,"selected":false,"type":"track","sku":"track-1435378","name":"Archipel","active":true,"mixName":"Lost
        Archipel Remix","title":"Archipel (Lost Archipel Remix)","slug":"archipel-lost-archipel-remix","isrc":null,"releaseDate":"2010-09-26","publishDate":"2010-09-26","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/1435378.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/1000000\/400000\/30000\/5000\/300\/70\/1435378.LOFI","exclusive":false,"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"07:28","bpm":123,"key":{"standard":{"letter":"A","sharp":false,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":47626,"name":"Nils
        Nilson","slug":"nils-nilson","type":"remixer"},{"id":100671,"name":"Oliver
        Schories","slug":"oliver-schories","type":"artist"}],"genres":[{"id":6,"name":"Techno","slug":"techno","type":"genre"}],"subGenres":[{"id":68,"name":"Dub
        Techno","slug":"dub-techno","type":"subgenre"}],"charts":[],"release":{"id":284365,"name":"Archipel","type":"release","slug":"archipel"},"label":{"id":6246,"name":"Ostwind
        Records","type":"label","slug":"ostwind-records"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/809565.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/809565.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/809566.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/809566.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/809567.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/809567.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/1594551.png","secureUrl":"https:\/\/media.beatport.com\/image\/1594551.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/809567.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1594551.png"}}},{"id":2966,"type":"label","name":"Archipel","slug":"archipel","active":true,"lastPublishDate":"2012-09-03","biography":"","genres":[{"id":14,"name":"Minimal","slug":"minimal","type":"genre"},{"id":3,"name":"Electronica","slug":"electronica","type":"genre"},{"id":6,"name":"Techno","slug":"techno","type":"genre"},{"id":16,"name":"DJ
        Tools","slug":"dj-tools","type":"genre"},{"id":10,"name":"Chill Out","slug":"chill-out","type":"genre"},{"id":11,"name":"Tech
        House","slug":"tech-house","type":"genre"},{"id":12,"name":"Deep House","slug":"deep-house","type":"genre"},{"id":9,"name":"Breaks","slug":"breaks","type":"genre"}],"subGenres":[{"id":13,"name":"IDM","slug":"idm","type":"subgenre"},{"id":39,"name":"Downtempo","slug":"downtempo","type":"subgenre"},{"id":15,"name":"LeftField","slug":"leftfield","type":"subgenre"},{"id":69,"name":"Ambient","slug":"ambient","type":"subgenre"},{"id":24,"name":"Melodic","slug":"melodic","type":"subgenre"},{"id":71,"name":"Experimental\/Noise\/Industrial","slug":"experimental-noise-industrial","type":"subgenre"},{"id":90,"name":"Acid","slug":"acid","type":"subgenre"},{"id":25,"name":"Detroit
        Techno","slug":"detroit-techno","type":"subgenre"}],"displayLevel":1,"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/37857.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/37857.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/37856.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/37856.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5539566.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5539566.jpg"},"banner":{"width":592,"height":96,"url":"http:\/\/geo-media.beatport.com\/image\/264626.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/264626.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/37856.jpg"}}},{"id":25998,"type":"label","name":"Archipel
        Soundtracks","slug":"archipel-soundtracks","active":true,"lastPublishDate":"2012-08-27","biography":"","genres":[{"id":14,"name":"Minimal","slug":"minimal","type":"genre"},{"id":3,"name":"Electronica",[...]
