---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=believe%202004
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=believe+2004","page":1,"perPage":10,"count":40,"totalPages":4,"nextQuery":"query=believe+2004&page=2","perPageOptions":[{"value":50,"applyQuery":"query=believe+2004&perPage=50"},{"value":100,"applyQuery":"query=believe+2004&perPage=100"},{"value":150,"applyQuery":"query=believe+2004&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":35505,"selected":false,"type":"track","sku":"track-35505","name":"Believe","active":true,"mixName":"2004
        Mix","title":"Believe (2004 Mix)","slug":"believe-2004-mix","isrc":null,"releaseDate":"2004-09-03","publishDate":"2004-09-03","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/35505.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume1\/items\/0\/0\/30000\/5000\/500\/0\/35505.LOFI","exclusive":false,"price":{"code":"usd","symbol":"$","value":199},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"Classic","length":"08:06","bpm":138,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":2238,"name":"Smith
        & Pledger","slug":"smith-and-pledger","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":25647,"position":8,"type":"chart"}],"release":{"id":12549,"name":"Believe","type":"release","slug":"believe"},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/21114.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/21114.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/5407.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5407.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/2474360.png","secureUrl":"https:\/\/media.beatport.com\/image\/2474360.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5407.jpg"}}},{"id":27531,"personId":106762,"type":"djprofile","name":"Whodany","bio":"Whodany
        (Film Maker, DJ, Producer) works for Believe Digital and runs the record label
        Pearlicka Records. He started professional DJing in 1989 in the Frankfurt
        Germany area. In 2004 he relocat ed t o Miami Beach. His most famous tracks
        are My World and Drugs Are Bad. Usually he plays a sexy blend of happy Miami
        Beach house, with some hints of Latin or NYC underground","slug":"whodany","url":"http:\/\/dj.beatport.com\/whodany","images":{"large":{"width":5[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=Archipel
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=Archipel","page":1,"perPage":10,"count":731,"totalPages":74,"nextQuery":"query=Archipel&pag[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=ANJCDCO011D
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=ANJCDCO011D","page":1,"perPage":10,"count":0,"totalPages":0,"perPageOptions":[{"value":50,"applyQuery":"query=ANJCDCO011D&perPage=50"},{"value":100,"applyQuery":"query=ANJCDCO011D&perPage=100"},{"value":150,"applyQuery":"query=ANJCDCO011D&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[]}'
  recorded_at: Wed, 10 Oct 2012 16:07:45 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?facets=genreName%3ATrance&query=anjunadeep
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep","page":1,"perPage":10,"count":59,"totalPages":6,"nextQuery":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep&page=2","perPageOptions":[{"value":50,"applyQuery":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep&perPage=50"},{"value":100,"applyQuery":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep&perPage=100"},{"value":150,"applyQuery":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":1390,"type":"label","name":"Anjunadeep","slug":"anjunadeep","active":true,"lastPublishDate":"2012-09-10","biography":"","genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"},{"id":17,"name":"Electro
        House","slug":"electro-house","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"},{"id":9,"name":"Breaks","slug":"breaks","type":"genre"},{"id":11,"name":"Tech
        House","slug":"tech-house","type":"genre"},{"id":3,"name":"Electronica","slug":"electronica","type":"genre"},{"id":1,"name":"Drum
        & Bass","slug":"drum-and-bass","type":"genre"},{"id":10,"name":"Chill Out","slug":"chill-out","type":"genre"},{"id":12,"name":"Deep
        House","slug":"deep-house","type":"genre"},{"id":6,"name":"Techno","slug":"techno","type":"genre"},{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":91,"name":"ProgNo","slug":"progno","type":"subgenre"}],"displayLevel":1,"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/3406.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3406.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/1191.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/1191.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5539566.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5539566.jpg"},"banner":{"width":592,"height":96,"url":"http:\/\/geo-media.beatport.com\/image\/345152.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/345152.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1191.jpg"}}},{"id":38792,"type":"chart","sku":"chart-38792","name":"Jaytech''s
        Anjunadeep August Chart","slug":"jaytechs-anjunadeep-august-chart","description":"","active":true,"publishDate":"2011-08-23","price":{"code":"usd","symbol":"$","value":1490},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":1000},"aiff":{"code":"usd","symbol":"$","value":1000}},"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/3271944.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3271944.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/3271945.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3271945.jpg"},"large":{"width":130,"height":130,"url":"http:\/\/geo-media.beatport.com\/image\/3271946.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3271946.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/3271947.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3271947.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/3271947.jpg"}},"chartOwner":null},{"id":48813,"type":"chart","sku":"chart-48813","name":"Joonas
        Hahmo - Anjunadeep 04 chart","slug":"joonas-hahmo-anjunadeep-04-chart","description":"","active":true,"publishDate":"2012-03-02","price":{"code":"usd","symbol":"$","value":1341},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":900},"aiff":{"code":"usd","symbol":"$","value":900}},"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-hous[...]
