---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=ANJCDCO011D
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=ANJCDCO011D","page":1,"perPage":10,"count":0,"totalPages":0,"perPageOptions":[{"value":50,"applyQuery":"query=ANJCDCO011D&perPage=50"},{"value":100,"applyQuery":"query=ANJCDCO011D&perPage=100"},{"value":150,"applyQuery":"query=ANJCDCO011D&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[]}'
  recorded_at: Wed, 10 Oct 2012 01:19:14 GMT
recorded_with: VCR 2.2.5
