---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?facets=genreName%3ATrance&query=anjunadeep
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep","page":1,"perPage":10,"count":80,"totalPages":8,"nextQuery":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep&page=2","perPageOptions":[{"value":50,"applyQuery":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep&perPage=50"},{"value":100,"applyQuery":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep&perPage=100"},{"value":150,"applyQuery":"facets%5B0%5D=genreName%3ATrance&query=anjunadeep&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":1390,"type":"label","name":"Anjunadeep","slug":"anjunadeep","active":true,"lastPublishDate":"2012-12-17","biography":"","genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"},{"id":17,"name":"Electro
        House","slug":"electro-house","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"},{"id":9,"name":"Breaks","slug":"breaks","type":"genre"},{"id":11,"name":"Tech
        House","slug":"tech-house","type":"genre"},{"id":3,"name":"Electronica","slug":"electronica","type":"genre"},{"id":1,"name":"Drum
        & Bass","slug":"drum-and-bass","type":"genre"},{"id":10,"name":"Chill Out","slug":"chill-out","type":"genre"},{"id":12,"name":"Deep
        House","slug":"deep-house","type":"genre"},{"id":6,"name":"Techno","slug":"techno","type":"genre"},{"id":18,"name":"Dubstep","slug":"dubstep","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"},{"id":91,"name":"ProgNo","slug":"progno","type":"subgenre"},{"id":24,"name":"Melodic","slug":"melodic","type":"subgenre"}],"mixCount":null,"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/3406.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3406.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/1191.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/1191.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5539566.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5539566.jpg"},"banner":{"width":592,"height":96,"url":"http:\/\/geo-media.beatport.com\/image\/345152.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/345152.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1191.jpg"}}},{"id":38792,"type":"chart","sku":"chart-38792","name":"Jaytech''s
        Anjunadeep August Chart","slug":"jaytechs-anjunadeep-august-chart","description":"","active":true,"publishDate":"2011-08-23","price":{"code":"usd","symbol":"$","value":1490},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":750},"aiff":{"code":"usd","symbol":"$","value":750}},"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/3271944.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3271944.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/3271945.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3271945.jpg"},"large":{"width":130,"height":130,"url":"http:\/\/geo-media.beatport.com\/image\/3271946.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3271946.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/3271947.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/3271947.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/3271947.jpg"}},"chartOwner":null,"updatedDate":"2011-08-23
        03:12:51","trackCount":0},{"id":48813,"type":"chart","sku":"chart-48813","name":"Joonas
        Hahmo - Anjunadeep 04 chart","slug":"joonas-hahmo-anjunadeep-04-chart","description":"","active":true,"publishDate":"2012-03-02","price":{"code":"usd","symbol":"$","value":1341},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":675},"aiff":{"code":"usd","symbol":"$","value":675}},"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"},{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"}],"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/5081777.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5081777.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/5081778.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5081778.jpg"},"large":{"width":130,"height":130,"url":"http:\/\/geo-media.beatport.com\/image\/5081779.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5081779.jpg"},"xlarge":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5081780.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5081780.jpg"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5081780.jpg"}},"chartOwner":null,"updatedDate":"2012-03-02
        10:57:56","trackCount":0},{"id":215217,"selected":false,"type":"track","sku":"track-215217","name":"Volume
        1","trackNumber":5,"active":true,"mixName":"AnjunaDeep Mix","title":"Volume
        1 (AnjunaDeep Mix)","slug":"volume-1-anjunadeep-mix","isrc":null,"releaseDate":"2000-06-01","publishDate":"2000-06-01","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/215217.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume2\/items\/0\/200000\/10000\/5000\/200\/10\/215217.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/215217.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume2\/items\/0\/200000\/10000\/5000\/200\/10\/215217.LOFI"}},"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75},"aiff":{"code":"usd","symbol":"$","value":75}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"08:46","bpm":136,"key":{"standard":{"letter":"A","sharp":true,"flat":false,"chord":"minor"},"shortName":"A&#9839;min"},"saleType":"purchase","artists":[{"id":28093,"name":"Anjuna
        Beats","slug":"anjuna-beats","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[],"release":{"id":38763,"name":"Volume
        1","type":"release","slug":"volume-1"},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/60759.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/60759.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/60760.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/60760.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/2353813.png","secureUrl":"https:\/\/media.beatport.com\/image\/2353813.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/60760.jpg"}}},{"id":940969,"type":"release","sku":"release-940969","name":"Anjunadeep
        04 (Unmixed & DJ Ready)","slug":"anjunadeep-04-unmixed-and-dj-ready","active":true,"releaseDate":"2012-07-24","publishDate":"2012-07-24","exclusive":false,"category":"Album","description":"","currentStatus":"General
        Content","catalogNumber":"ANJCDCO092D","purchasable":true,"price":{"code":"usd","symbol":"$","value":999},"tracksPrice":{"code":"usd","symbol":"$","value":3576},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":1800},"aiff":{"code":"usd","symbol":"$","value":1800}},"label":{"id":1390,"name":"Anjunadeep","type":"label","slug":"anjunadeep"},"artists":[{"id":61194,"name":"Dusky","slug":"dusky","type":"artist"},{"id":13732,"name":"Martin
        Roth","slug":"martin-roth","type":"artist"},{"id":6510,"name":"Vincenzo","slug":"vincenzo","type":"artist"},{"id":98835,"name":"Andrew
        Bayer","slug":"andrew-[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=believe%202004
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=believe+2004","page":1,"perPage":10,"count":2,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"query=believe+2004&perPage=50"},{"value":100,"applyQuery":"query=believe+2004&perPage=100"},{"value":150,"applyQuery":"query=believe+2004&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":null},"results":[{"id":35505,"selected":false,"type":"track","sku":"track-35505","name":"Believe","trackNumber":1,"active":true,"mixName":"2004
        Mix","title":"Believe (2004 Mix)","slug":"believe-2004-mix","isrc":null,"releaseDate":"2004-09-03","publishDate":"2004-09-03","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/35505.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume1\/items\/0\/0\/30000\/5000\/500\/0\/35505.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/35505.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume1\/items\/0\/0\/30000\/5000\/500\/0\/35505.LOFI","offset":{"start":"194549","end":"314549"}},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/35505.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/volume1\/items\/0\/0\/30000\/5000\/500\/0\/35505.LOFI","offset":{"start":"194549","end":"314549"}}},"price":{"code":"usd","symbol":"$","value":199,"display":"$1.99"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"purchasable":true,"currentStatus":"Classic","length":"08:06","lengthMs":null,"bpm":138,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"minor"},"shortName":"D&#9839;min"},"saleType":"purchase","artists":[{"id":2238,"name":"Smith
        & Pledger","slug":"smith-and-pledger","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":25647,"position":8,"type":"chart"}],"release":{"id":12549,"name":"Believe","type":"release","slug":"believe"},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/21114.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/21114.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/5407.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5407.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/2474360.png","secureUrl":"https:\/\/media.beatport.com\/image\/2474360.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5407.jpg"}}},{"id":5436,"type":"mix","sku":"mix-5436","name":"Frankie
        B - Dj Set #025","slug":"frankie-b-dj-set-number-025","genres":[{"id":12,"name":"Deep
        House","slug":"deep-house","type":"genre"},{"id":11,"name":"Tech House","slug":"tech-house","type":"genre"},{"id":6,"name":"Techno","slug":"techno","type":"genre"},{"id":5,"name":"House","slug":"house","type":"genre"}],"subGenres":[],"labels":[{"id":1273,"type":"label","name":"Freerange
        Records","slug":"freerange-records"},{"id":12723,"type":"label","name":"Live
        At Robert Johnson","slug":"live-at-robert-johnson"},{"id":21856,"type":"label","name":"Local
        Talk","slug":"local-talk"},{"id":24028,"type":"label","name":"Platte International","slug":"platte-international"},{"id":6034,"type":"label","name":"Vidab","slug":"vidab"},{"id":8727,"type":"label","name":"Save
        Room Recordings","slug":"save-room-recordi[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=Archipel
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=Archipel","page":1,"perPage":10,[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=ANJCDCO011D
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=ANJCDCO011D","page":1,"perPage":10,"count":0,"totalPages":0,"perPageOptions":[{"value":50,"applyQuery":"query=ANJCDCO011D&perPage=50"},{"value":100,"applyQuery":"query=ANJCDCO011D&perPage=100"},{"value":150,"applyQuery":"query=ANJCDCO011D&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":null},"results":[]}'
  recorded_at: Fri, 10 May 2013 15:05:03 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?facets=genreName:Trance&query=anjunadeep
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"facets%5B0%5[...]
