---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/search?query=believe%202004
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/search","query":"query=believe+2004","page":1,"perPage":10,"count":40,"totalPages":4,"nextQuery":"query=believe+2004&page=2","perPageOptions":[{"value":50,"applyQuery":"query=believe+2004&perPage=50"},{"value":100,"applyQuery":"query=believe+2004&perPage=100"},{"value":150,"applyQuery":"query=believe+2004&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"spellcheck":{"suggestions":[]}},"results":[{"id":35505,"selected":false,"type":"track","sku":"track-35505","name":"Believe","active":true,"mixName":"2004
        Mix","title":"Believe (2004 Mix)","slug":"believe-2004-mix","isrc":null,"releaseDate":"2004-09-03","publishDate":"2004-09-03","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/35505.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume1\/items\/0\/0\/30000\/5000\/500\/0\/35505.LOFI","exclusive":false,"price":{"code":"usd","symbol":"$","value":199},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"Classic","length":"08:06","bpm":138,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":2238,"name":"Smith
        & Pledger","slug":"smith-and-pledger","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[],"charts":[{"id":25647,"position":8,"type":"chart"}],"release":{"id":12549,"name":"Believe","type":"release","slug":"believe"},"label":{"id":804,"name":"Anjunabeats","type":"label","slug":"anjunabeats"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/21114.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/21114.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/5407.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5407.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/5245821.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/5245821.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/2474360.png","secureUrl":"https:\/\/media.beatport.com\/image\/2474360.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/5407.jpg"}}},{"id":27531,"personId":106762,"type":"djprofile","name":"Whodany","bio":"Whodany
        (Film Maker, DJ, Producer) works for Believe Digital and runs the record label
        Pearlicka Records. He started professional DJing in 1989 in the Frankfurt
        Germany area. In 2004 he relocat ed t o Miami Beach. His most famous tracks
        are My World and Drugs Are Bad. Usually he plays a sexy blend of happy Miami
        Beach house, with some hints of Latin or NYC underground","slug":"whodany","url":"http:\/\/dj.beatport.com\/whodany","images":{"large":{"width":5[...]
