---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/source-types?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"page":1,"count":11,"perPage":11},"results":[{"id":1,"name":"store","itemTypes":[{"id":1,"name":"track","browsable":true,"searchable":true,"downloadable":true},{"id":2,"name":"release","browsable":true,"searchable":true,"downloadable":false},{"id":3,"name":"label","browsable":true,"searchable":true,"downloadable":false},{"id":4,"name":"person","browsable":true,"searchable":false,"downloadable":false},{"id":5,"name":"performer","browsable":true,"searchable":true,"downloadable":false},{"id":6,"name":"genre","browsable":true,"searchable":true,"downloadable":false},{"id":7,"name":"image","browsable":true,"searchable":false,"downloadable":false},{"id":8,"name":"chart","browsable":true,"searchable":true,"downloadable":false},{"id":9,"name":"pack","browsable":true,"searchable":false,"downloadable":false},{"id":10,"name":"part","browsable":true,"searchable":false,"downloadable":false},{"id":11,"name":"djprofile","browsable":true,"searchable":false,"downloadable":false},{"id":12,"name":"mix","browsable":true,"searchable":false,"downloadable":false}],"orderContentGroups":[{"id":1,"name":"tracks_and_releases","itemTypes":[{"id":1,"name":"track"},{"id":2,"name":"release"}]}],"audioTypes":[{"id":1,"name":"loop"},{"id":4,"name":"mfx"},{"id":6,"name":"sample"},{"id":7,"name":"sfx"},{"id":8,"name":"unknown"},{"id":9,"name":"mix"},{"id":10,"name":"track"},{"id":11,"name":"stem"},{"id":12,"name":"part"}]},{"id":2,"name":"mobile","itemTypes":[{"id":1,"name":"track","browsable":true,"searchable":true,"downloadable":false},{"id":2,"name":"release","browsable":true,"searchable":true,"downloadable":false},{"id":3,"name":"label","browsable":true,"searchable":true,"downloadable":false},{"id"[...]
