---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?id=1217790
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"id=1217790","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=1217790&perPage=50"},{"value":100,"applyQuery":"id=1217790&perPage=100"},{"value":150,"applyQuery":"id=1217790&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-08-14","endDate":"2013-08-14","applyQuery":"id=1217790&publishDateStart=2013-08-14&publishDateEnd=2013-08-14","applied":false},{"name":"yesterday","startDate":"2013-08-13","endDate":"2013-08-14","applyQuery":"id=1217790&publishDateStart=2013-08-13&publishDateEnd=2013-08-14","applied":false},{"name":"weekToDate","startDate":"2013-08-07","endDate":"2013-08-14","applyQuery":"id=1217790&publishDateStart=2013-08-07&publishDateEnd=2013-08-14","applied":false},{"name":"monthToDate","startDate":"2013-07-14","endDate":"2013-08-14","applyQuery":"id=1217790&publishDateStart=2013-07-14&publishDateEnd=2013-08-14","applied":false},{"name":"yearToDate","startDate":"2012-08-14","endDate":"2013-08-14","applyQuery":"id=1217790&publishDateStart=2012-08-14&publishDateEnd=2013-08-14","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=1217790"}],"rangeFilters":{"bpm":{"custom":true,"rangeName":"bpm","applied":false,"applyQuery":"id=1217790"}},"spellcheck":null},"results":[{"id":1217790,"selected":false,"type":"track","sku":"track-1217790","name":"Tonight
        (IMS Anthem 2009)","trackNumber":8,"active":true,"mixName":"Above & Beyond
        Remix","title":"Tonight (IMS Anthem 2009) (Above & Beyond Remix)","slug":"tonight-ims-anthem-2009-above-and-beyond-remix","isrc":"GBJAJ0900877","releaseDate":"2010-05-17","publishDate":"2010-05-17","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/1217790.LOFI.mp3","isPreviewAvailable":false,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/1000000\/200000\/10000\/7000\/700\/90\/1217790.LOFI","exclusive":false,"isPromotable":false,"preview":null,"price":{"code":"usd","symbol":"$","value":149,"display":"$1.49"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"purchasable":true,"currentStatus":"General
        Content","length":"7:53","lengthMs":473779,"bpm":128,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"major"},"shortName":"D&#9839;maj"},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"remixer"},{"id":54166,"name":"Dirty
        Vegas","slug":"dirty-vegas","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"}],"charts":[{"id":173240,"position":8,"type":"chart"}],"release":{"id":245137,"name":"Toolroom
        Presents: The Beatport Nominees 2010","type":"release","slug":"toolroom-presents-the-beatport-nominees-2010"},"label":{"id":495,"name":"Toolroom
        Records","type":"label","slug":"toolroom-records","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/674759.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674759.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/674760.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674760.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/674761.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674761.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/1268229.png","secureUrl":"https:\/\/media.beatport.com\/image\/1268229.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/674761.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1268229.png"}}}]}'
  recorded_at: Wed, 14 Aug 2013 22:51:47 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":false,"page":1,"perPage":10,"count":2913758,"totalPages":291376,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-08-14","endDate":"2013-08-14","applyQuery":"publishDateStart=2013-08-14&publishDateEnd=2013-08-14","applied":false},{"name":"yesterday","startDate":"2013-08-13","endDate":"2013-08-14","applyQuery":"publishDateStart=2013-08-13&publishDateEnd=2013-08-14","applie[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?page=1&perPage=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"perPage=5","page":1,"perPage":5,"cou[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?genreId=5&page=1&perPage=5&sortBy=publishDate%20asc,releaseId%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tr[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?returnFacets=genreName,performerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":2913758,"totalPages":291376,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":400297,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":318502,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Techno","count":284613,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","removeQuery":null},{"name":"Progressive
        House","count":280865,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","re[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?facets=genreName:Trance,performerName:Above%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","qu[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular","query":false,"page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"spellcheck":null,"date":"2013-08-14"},"results":[{"id":4596347,"selected":false,"type":"track","sku":"track-4596347","name":"Jumper","trackNumber":1,"active":true,"mixName":"Original
        Mix","title":"Jumper (Original Mix)","slug":"jumper-original-mix","isrc":"NLS241203736","releaseDate":"2013-08-05","publishDate":"2013-08-05","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/4596347.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/4000000\/500000\/90000\/6000\/300\/40\/4596347.LOFI","exclusive":true,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4596347.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/4000000\/500000\/90000\/6000\/300\/40\/4596347.LOFI","offset":{"start":126000,"end":246000}},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4596347.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/6\/7\/f\/4596347.LOFI","offset":{"start":126000,"end":246000}}},"price":{"code":"usd","symbol":"$","value":249,"display":"$2.49"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symb[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular?status=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular","query":"status=5","page":1,"perPage":10,[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7&status=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"status=5&id=7"[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/artist?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/artist","query":"id=7181","page":1,[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/label?id=804
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/label","query":"id=804","page":1,"per[...]
