---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?id=1217790
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"id=1217790","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=1217790&perPage=50"},{"value":100,"applyQuery":"id=1217790&perPage=100"},{"value":150,"applyQuery":"id=1217790&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-10-10","endDate":"2012-10-10","applyQuery":"id=1217790&publishDateStart=2012-10-10&publishDateEnd=2012-10-10","applied":false},{"name":"yesterday","startDate":"2012-10-09","endDate":"2012-10-10","applyQuery":"id=1217790&publishDateStart=2012-10-09&publishDateEnd=2012-10-10","applied":false},{"name":"weekToDate","startDate":"2012-10-03","endDate":"2012-10-10","applyQuery":"id=1217790&publishDateStart=2012-10-03&publishDateEnd=2012-10-10","applied":false},{"name":"monthToDate","startDate":"2012-09-10","endDate":"2012-10-10","applyQuery":"id=1217790&publishDateStart=2012-09-10&publishDateEnd=2012-10-10","applied":false},{"name":"yearToDate","startDate":"2011-10-10","endDate":"2012-10-10","applyQuery":"id=1217790&publishDateStart=2011-10-10&publishDateEnd=2012-10-10","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=1217790"}],"rangeFilters":{"bpm":{"custom":true,"rangeName":"bpm","applied":false,"applyQuery":"id=1217790"}},"spellcheck":{"suggestions":[]}},"results":[{"id":1217790,"selected":false,"type":"track","sku":"track-1217790","name":"Tonight
        (IMS Anthem 2009)","active":true,"mixName":"Above & Beyond Remix","title":"Tonight
        (IMS Anthem 2009) (Above & Beyond Remix)","slug":"tonight-ims-anthem-2009-above-and-beyond-remix","isrc":"GBJAJ0900877","releaseDate":"2010-05-17","publishDate":"2010-05-17","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/1217790.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/1000000\/200000\/10000\/7000\/700\/90\/1217790.LOFI","exclusive":false,"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"07:53","bpm":128,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"major"}},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"remixer"},{"id":54166,"name":"Dirty
        Vegas","slug":"dirty-vegas","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"}],"charts":[],"release":{"id":245137,"name":"Toolroom
        Presents: The Beatport Nominees 2010","type":"release","slug":"toolroom-presents-the-beatport-nominees-2010"},"label":{"id":495,"name":"Toolroom
        Records","type":"label","slug":"toolroom-records"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/674759.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674759.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/674760.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674760.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/674761.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674761.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/1268229.png","secureUrl":"https:\/\/media.beatport.com\/image\/1268229.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/674761.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1268229.png"}}}]}'
  recorded_at: Wed, 10 Oct 2012 16:07:46 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":false,"page":1,"perPage":10,"count":2278691,"totalPages":227870,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-10-10","endDate":"2012-10-10","applyQuery":"publishDateStart=2012-10-10&publishDateEnd=2012-10-10","applied":false},{"name":"yesterday","startDate":"2012-10-09","endDate":"2012-10-10","applyQuery":"publishDateStart=2012-10-09&publishDateEnd=2012-10-10","applie[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"perPage=5","page":1,"perPage":5,"count":2278691,"totalPages":455739,"nextQuery":"perPage=5&page[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?sortBy=publishDate%20asc%2CreleaseId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"sortBy=publishDate+asc%2CreleaseId+asc&gen[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":2278691,"totalPages":227870,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":323126,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":244251,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Progressive
        House","count":230409,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Techno","count":223587,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","re[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?facets=genreName%3ATrance%2CperformerName%3AAbove%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"facets%5B0%5D=genreName%3ATrance%2CperformerNam[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular","query":false,"page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2012-10-10"},"results":[{"id":3792349,"selected":false,"type":"track","sku":"track-3792349","name":"Reload","active":true,"mixName":"Original
        Mix","title":"Reload (Original Mix)","slug":"reload-original-mix","isrc":"GBJ4B1200097","releaseDate":"2012-09-28","publishDate":"2012-09-28","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/3792349.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume1\/items\/3000000\/700000\/90000\/2000\/300\/40\/3792349.LOFI","exclusive":true,"price":{"code":"usd","symbol":"$","value":249},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"Exclusive","length":"6:00","bpm":128,"key":{"standard":{"letter":"A","sharp":false,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":6611,"name":"Sebastian
        Ingrosso","slug":"sebastian-ingrosso","type":"artist"},{"id":30945,"name":"Tommy
        Trash","slug":"tommy-trash","type":"artist"}],"genres":[{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"}],"subGenres":[],"charts":[{"id":115780,"position":3,"type":"chart"},{"id":112124,"position":1,"type":"chart"},{"id":117097,"position":3,"type":"chart"},{"id":117133,"position":7,"type":"chart"},{"id":117199,"position":10,"type":"chart"},{"id":117204,"position":6,"type":"chart"},{"id":117209,"position":3,"type":"chart"},{"id":117244,"position":2,"type":"chart"},{"id":117245,"position":7,"type":"chart"},{"id":117248,"position":8,"type":"chart"},{"id":117261,"position":2,"type":"chart"},{"id":117271,"position":2,"type":"chart"},{"id":117295,"posit[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular?status=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular","query":"status=5","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"status=5&page=2","[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2",[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?status=5&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"status=5&id=7","page":1,"perPage":10,"count":76,"totalPages":8,"nextQuery[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/artist?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/artist","query":"id=7181","page":1,"perPage":10,"count":74,"totalPages":8,"nextQuery":"id=7181[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/label?id=804
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/label","query":"id=804","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=804&pa[...]
