---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?id=1217790
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"id=1217790","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=1217790&perPage=50"},{"value":100,"applyQuery":"id=1217790&perPage=100"},{"value":150,"applyQuery":"id=1217790&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-10-09","endDate":"2012-10-09","applyQuery":"id=1217790&publishDateStart=2012-10-09&publishDateEnd=2012-10-09","applied":false},{"name":"yesterday","startDate":"2012-10-08","endDate":"2012-10-09","applyQuery":"id=1217790&publishDateStart=2012-10-08&publishDateEnd=2012-10-09","applied":false},{"name":"weekToDate","startDate":"2012-10-02","endDate":"2012-10-09","applyQuery":"id=1217790&publishDateStart=2012-10-02&publishDateEnd=2012-10-09","applied":false},{"name":"monthToDate","startDate":"2012-09-09","endDate":"2012-10-09","applyQuery":"id=1217790&publishDateStart=2012-09-09&publishDateEnd=2012-10-09","applied":false},{"name":"yearToDate","startDate":"2011-10-09","endDate":"2012-10-09","applyQuery":"id=1217790&publishDateStart=2011-10-09&publishDateEnd=2012-10-09","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=1217790"}],"rangeFilters":{"bpm":{"custom":true,"rangeName":"bpm","applied":false,"applyQuery":"id=1217790"}},"spellcheck":{"suggestions":[]}},"results":[{"id":1217790,"selected":false,"type":"track","sku":"track-1217790","name":"Tonight
        (IMS Anthem 2009)","active":true,"mixName":"Above & Beyond Remix","title":"Tonight
        (IMS Anthem 2009) (Above & Beyond Remix)","slug":"tonight-ims-anthem-2009-above-and-beyond-remix","isrc":"GBJAJ0900877","releaseDate":"2010-05-17","publishDate":"2010-05-17","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/1217790.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/1000000\/200000\/10000\/7000\/700\/90\/1217790.LOFI","exclusive":false,"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"07:53","bpm":128,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"major"}},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"remixer"},{"id":54166,"name":"Dirty
        Vegas","slug":"dirty-vegas","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"}],"charts":[],"release":{"id":245137,"name":"Toolroom
        Presents: The Beatport Nominees 2010","type":"release","slug":"toolroom-presents-the-beatport-nominees-2010"},"label":{"id":495,"name":"Toolroom
        Records","type":"label","slug":"toolroom-records"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/674759.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674759.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/674760.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674760.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/674761.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674761.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/1268229.png","secureUrl":"https:\/\/media.beatport.com\/image\/1268229.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/674761.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1268229.png"}}}]}'
  recorded_at: Wed, 10 Oct 2012 01:02:30 GMT
recorded_with: VCR 2.2.5
