---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?id=1217790
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"id=1217790","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=1217790&perPage=50"},{"value":100,"applyQuery":"id=1217790&perPage=100"},{"value":150,"applyQuery":"id=1217790&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-02-08","endDate":"2013-02-08","applyQuery":"id=1217790&publishDateStart=2013-02-08&publishDateEnd=2013-02-08","applied":false},{"name":"yesterday","startDate":"2013-02-07","endDate":"2013-02-08","applyQuery":"id=1217790&publishDateStart=2013-02-07&publishDateEnd=2013-02-08","applied":false},{"name":"weekToDate","startDate":"2013-02-01","endDate":"2013-02-08","applyQuery":"id=1217790&publishDateStart=2013-02-01&publishDateEnd=2013-02-08","applied":false},{"name":"monthToDate","startDate":"2013-01-08","endDate":"2013-02-08","applyQuery":"id=1217790&publishDateStart=2013-01-08&publishDateEnd=2013-02-08","applied":false},{"name":"yearToDate","startDate":"2012-02-08","endDate":"2013-02-08","applyQuery":"id=1217790&publishDateStart=2012-02-08&publishDateEnd=2013-02-08","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=1217790"}],"rangeFilters":{"bpm":{"custom":true,"rangeName":"bpm","applied":false,"applyQuery":"id=1217790"}},"spellcheck":{"suggestions":[]}},"results":[{"id":1217790,"selected":false,"type":"track","sku":"track-1217790","name":"Tonight
        (IMS Anthem 2009)","trackNumber":8,"active":true,"mixName":"Above & Beyond
        Remix","title":"Tonight (IMS Anthem 2009) (Above & Beyond Remix)","slug":"tonight-ims-anthem-2009-above-and-beyond-remix","isrc":"GBJAJ0900877","releaseDate":"2010-05-17","publishDate":"2010-05-17","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/1217790.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/1000000\/200000\/10000\/7000\/700\/90\/1217790.LOFI","exclusive":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/1217790.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/1000000\/200000\/10000\/7000\/700\/90\/1217790.LOFI"}},"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75},"aiff":{"code":"usd","symbol":"$","value":75}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"07:53","bpm":128,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"major"},"shortName":"D&#9839;maj"},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"remixer"},{"id":54166,"name":"Dirty
        Vegas","slug":"dirty-vegas","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"}],"charts":[],"release":{"id":245137,"name":"Toolroom
        Presents: The Beatport Nominees 2010","type":"release","slug":"toolroom-presents-the-beatport-nominees-2010"},"label":{"id":495,"name":"Toolroom
        Records","type":"label","slug":"toolroom-records","status":true},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/674759.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674759.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/674760.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674760.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/674761.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674761.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/1268229.png","secureUrl":"https:\/\/media.beatport.com\/image\/1268229.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/674761.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1268229.png"}}}]}'
  recorded_at: Fri, 08 Feb 2013 20:59:31 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":false,"page":1,"perPage":10,"count":2513679,"totalPages":251368,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-02-08","endDate":"2013-02-08","applyQuery":"publishDateStart=2013-02-08&publishDateEnd=2013-02-08","applied":false},{"name":"yesterday","startDate":"2013-02-07","endDate":"2013-02-08","applyQuery":"publishDateStart=2013-02-07&publishDateEnd=2013-02-08","applie[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"perPage=5","page":1,"perPage":5,"count":2513679,"totalPages":502736,"nextQuery":"perPage=5&page[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?sortBy=publishDate%20asc%2CreleaseId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"sortBy=publishDate+asc%2CreleaseId+asc&gen[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":2513679,"totalPages":251368,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":346469,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":273559,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Progressive
        House","count":250105,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Techno","count":247606,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","re[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?facets=genreName%3ATrance%2CperformerName%3AAbove%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"facets%5B0%5D=genreName%3ATrance%2CperformerNam[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular","query":false,"page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2013-02-08"},"results":[{"id":4056922,"selected":false,"type":"track","sku":"track-4056922","name":"Imprint
        Of Pleasure","trackNumber":2,"active":true,"mixName":"Original Mix","title":"Imprint
        Of Pleasure (Original Mix)","slug":"imprint-of-pleasure-original-mix","isrc":"ES84B1310005","releaseDate":"2013-01-14","publishDate":"2013-01-14","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/4056922.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume2\/items\/4000000\/0\/50000\/6000\/900\/20\/4056922.LOFI","exclusive":true,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4056922.LOFI.mp3","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume2\/items\/4000000\/0\/50000\/6000\/900\/20\/4056922.LOFI"},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/4056922.LOFI.mp4","rtmp":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp4:lofi_samples\/items\/volumes\/volume2\/items\/4000000\/0\/50000\/6000\/900\/20\/4056922.LOFI"}},"price":{"code":"usd","symbol":"$","value":249},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75},"aiff":{"code":"usd","symbol":"$","value":75}},"losslessUpgradeFormatFee":[],"currentStatus":"Exclusive","length":"7:22","bpm":122,"key":{"standard":{"letter":"A","sharp":false,"flat":false,"chord":"minor"},"shortName":"Amin"},"saleType":"purchase","artists":[{"id":36641,"name":"Tube
        & Berger","slug":"tube-and-berger","type":"artist"}],"genres":[{"id":11,"name":"Tech
        House","slug":"tech-house","type":"genre"}],"subGenres":[],"charts":[{"id":144209,"position":1,"type":"chart"},{"id":144304,"position":9,"type":"chart"},{"id":144330,"position":10,"type":"chart"},{"id":144342,"position":1,"type":"chart"},{"id":144383,"position":1,"type":"chart"},{"id":144427,"position":5,"type":"chart"},{"id":144434,"position":1,"type":"chart"},{"id":144480,"position":5,"type":"chart"},{"id":144489,"position":7,"type":"chart"},{"id":144484,"position":10,"type":"chart"},{"id":144540,"position":10,"type":"chart"},{"id":144551,"position":6,"type":"chart"},{"id":144602,"pos[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular?status=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular","query":"status=5","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"status=5&page=2","[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2",[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?status=5&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"status=5&id=7","page":1,"perPage":10,"count":86,"totalPages":9,"nextQuery[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/artist?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/artist","query":"id=7181","page":1,"perPage":10,"count":76,"totalPages":8,"nextQuery":"id=7181[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/label?id=804
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/label","query":"id=804","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=804&pa[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?page=1&perPage=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"perPage=5","page":1,"perPage":5,"count":2513679,"totalPages":502736,"nextQuery":"perPage=5&page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2013-02-08","endDate":[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?genreId=5&page=1&perPage=5&sortBy=publishDate%20asc,releaseId%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"sortBy=publishDate+asc%2CreleaseId+asc&genre[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?returnFacets=genreName,performerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":25136[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?facets=genreName:Trance,performerName:Above%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"facets%5B0%5D=genreName%3ATrance%2CperformerName%3AAb[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7&status=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"status=5&id=7","page":1,"perPage":10,"count":86,"totalPages":9,"nextQuery[...]
