---
http_interactions:
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?id=1217790
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"id=1217790","page":1,"perPage":10,"count":1,"totalPages":1,"perPageOptions":[{"value":50,"applyQuery":"id=1217790&perPage=50"},{"value":100,"applyQuery":"id=1217790&perPage=100"},{"value":150,"applyQuery":"id=1217790&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-11-11","endDate":"2012-11-11","applyQuery":"id=1217790&publishDateStart=2012-11-11&publishDateEnd=2012-11-11","applied":false},{"name":"yesterday","startDate":"2012-11-10","endDate":"2012-11-11","applyQuery":"id=1217790&publishDateStart=2012-11-10&publishDateEnd=2012-11-11","applied":false},{"name":"weekToDate","startDate":"2012-11-04","endDate":"2012-11-11","applyQuery":"id=1217790&publishDateStart=2012-11-04&publishDateEnd=2012-11-11","applied":false},{"name":"monthToDate","startDate":"2012-10-11","endDate":"2012-11-11","applyQuery":"id=1217790&publishDateStart=2012-10-11&publishDateEnd=2012-11-11","applied":false},{"name":"yearToDate","startDate":"2011-11-11","endDate":"2012-11-11","applyQuery":"id=1217790&publishDateStart=2011-11-11&publishDateEnd=2012-11-11","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"id=1217790"}],"rangeFilters":{"bpm":{"custom":true,"rangeName":"bpm","applied":false,"applyQuery":"id=1217790"}},"spellcheck":{"suggestions":[]}},"results":[{"id":1217790,"selected":false,"type":"track","sku":"track-1217790","name":"Tonight
        (IMS Anthem 2009)","trackNumber":8,"active":true,"mixName":"Above & Beyond
        Remix","title":"Tonight (IMS Anthem 2009) (Above & Beyond Remix)","slug":"tonight-ims-anthem-2009-above-and-beyond-remix","isrc":"GBJAJ0900877","releaseDate":"2010-05-17","publishDate":"2010-05-17","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/1217790.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume7\/items\/1000000\/200000\/10000\/7000\/700\/90\/1217790.LOFI","exclusive":false,"isPromotable":null,"price":{"code":"usd","symbol":"$","value":149},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"General
        Content","length":"07:53","bpm":128,"key":{"standard":{"letter":"D","sharp":true,"flat":false,"chord":"major"}},"saleType":"purchase","artists":[{"id":7181,"name":"Above
        & Beyond","slug":"above-and-beyond","type":"remixer"},{"id":54166,"name":"Dirty
        Vegas","slug":"dirty-vegas","type":"artist"}],"genres":[{"id":7,"name":"Trance","slug":"trance","type":"genre"}],"subGenres":[{"id":27,"name":"Progressive","slug":"progressive","type":"subgenre"}],"charts":[],"release":{"id":245137,"name":"Toolroom
        Presents: The Beatport Nominees 2010","type":"release","slug":"toolroom-presents-the-beatport-nominees-2010"},"label":{"id":495,"name":"Toolroom
        Records","type":"label","slug":"toolroom-records"},"images":{"small":{"width":30,"height":30,"url":"http:\/\/geo-media.beatport.com\/image\/674759.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674759.jpg"},"medium":{"width":60,"height":60,"url":"http:\/\/geo-media.beatport.com\/image\/674760.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674760.jpg"},"large":{"width":500,"height":500,"url":"http:\/\/geo-media.beatport.com\/image\/674761.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/674761.jpg"},"waveform":{"width":1500,"height":250,"url":"http:\/\/geo-media.beatport.com\/image\/1268229.png","secureUrl":"https:\/\/media.beatport.com\/image\/1268229.png"}},"dynamicImages":{"main":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/674761.jpg"},"waveform":{"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/1268229.png"}}}]}'
  recorded_at: Sun, 11 Nov 2012 17:28:58 GMT
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":false,"page":1,"perPage":10,"count":2338344,"totalPages":233835,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2012-11-11","endDate":"2012-11-11","applyQuery":"publishDateStart=2012-11-11&publishDateEnd=2012-11-11","applied":false},{"name":"yesterday","startDate":"2012-11-10","endDate":"2012-11-11","applyQuery":"publishDateStart=2012-11-10&publishDateEnd=2012-11-11","applie[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"perPage=5","page":1,"perPage":5,"count":2338344,"totalPages":467669,"nextQuery":"perPage=5&page[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?sortBy=publishDate%20asc%2CreleaseId%20asc&genreId=5&perPage=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"sortBy=publishDate+asc%2CreleaseId+asc&gen[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?returnFacets=genreName%2CperformerName
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"returnFacets=genreName%2CperformerName","page":1,"perPage":10,"count":2338344,"totalPages":233835,"nextQuery":"returnFacets=genreName%2CperformerName&page=2","perPageOptions":[{"value":50,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=50"},{"value":100,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=100"},{"value":150,"applyQuery":"returnFacets=genreName%2CperformerName&perPage=150"}],"facets":{"fields":{"genreName":[{"name":"House","count":329112,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AHouse","removeQuery":null},{"name":"Tech
        House","count":252486,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATech+House","removeQuery":null},{"name":"Progressive
        House","count":236235,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3AProgressive+House","removeQuery":null},{"name":"Techno","count":229863,"applied":false,"applyQuery":"returnFacets=genreName%2CperformerName&facets%5B0%5D=genreName%3ATechno","re[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/tracks?facets=genreName%3ATrance%2CperformerName%3AAbove%20%26%20Beyond
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/tracks","query":"facets%5B0%5D=genreName%3ATrance%2CperformerNam[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular","query":false,"page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"page=2","perPageOptions":[{"value":50,"applyQuery":"perPage=50"},{"value":100,"applyQuery":"perPage=100"},{"value":150,"applyQuery":"perPage=150"}],"facets":{"fields":[]},"spellcheck":{"suggestions":[]},"date":"2012-11-11"},"results":[{"id":3844258,"selected":false,"type":"track","sku":"track-3844258","name":"Sunrise
        (Won''t Get Lost)","trackNumber":1,"active":true,"mixName":"Tommy Trash Version","title":"Sunrise
        (Won''t Get Lost) (Tommy Trash Version)","slug":"sunrise-wont-get-lost-tommy-trash-version","isrc":"GBKCF1200221","releaseDate":"2012-10-12","publishDate":"2012-10-12","sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/3844258.LOFI.mp3","isPreviewAvailable":null,"isAvailableForMix":true,"rtmpStreamUrl":"rtmp:\/\/geo-rtmp-samples.beatport.com\/beatport\/_definst_\/mp3:lofi_samples\/items\/volumes\/volume5\/items\/3000000\/800000\/40000\/4000\/200\/50\/3844258.LOFI","exclusive":false,"isPromotable":null,"price":{"code":"usd","symbol":"$","value":199},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":100},"aiff":{"code":"usd","symbol":"$","value":100}},"losslessUpgradeFormatFee":[],"currentStatus":"New
        Release","length":"6:03","bpm":127,"key":{"standard":{"letter":"F","sharp":false,"flat":false,"chord":"minor"}},"saleType":"purchase","artists":[{"id":28635,"name":"The
        Aston Shuffle","slug":"the-aston-shuffle","type":"artist"},{"id":30945,"name":"Tommy
        Trash","slug":"tommy-trash","type":"artist"}],"genres":[{"id":15,"name":"Progressive
        House","slug":"progressive-house","type":"genre"}],"subGenres":[],"charts":[{"id":119616,"position":3,"type":"chart"},{"id":120828,"position":4,"type":"chart"},{"id":95533,"position":2,"type":"chart"},{"id":120865,"position":1,"type":"chart"},{"id":120932,"position":1,"type":"chart"},{"id":120935,"position":2,"type":"chart"},{"id":121002,"position":2,"type":"chart"},{"id":121008,"position":2,"type":"chart"},{"id":118235,"position":5,"type":"chart"},{"id":121076,"position":7,"type":"chart"},{"id":121132,"position":4,"type":"chart"},{"id":121206,"position":1,"type":"chart"},{"id":121222,"positio[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular?status=5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular","query":"status=5","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"status=5&page=2","[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"id=7","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=7&page=2",[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/genre?status=5&id=7
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/genre","query":"status=5&id=7","page":1,"perPage":10,"count":84,"totalPages":9,"nextQuery[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/artist?id=7181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/artist","query":"id=7181","page":1,"perPage":10,"count":77,"totalPages":8,"nextQuery":"id=7181[...]
- request:
    method: get
    uri: http://api.beatport.com/catalog/3/most-popular/label?id=804
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"metadata":{"host":"api.beatport.com","path":"\/catalog\/most-popular\/label","query":"id=804","page":1,"perPage":10,"count":100,"totalPages":10,"nextQuery":"id=804&pa[...]
